.signoff-container{
  width:80%;
  margin:2em auto;
}


.email-input {
  width:400px;
}


.profileAvatar {
  width:75px;
  height:75px;
  border-radius:50%;
  margin:0px auto 0px auto;
}

.userText {
  margin:1em auto 0 auto;
}