

.des-header {
  font-size:2.5em;
  text-transform: uppercase;
  margin:0.75em 0em 0.25em 0em;
}

.des-row {
  margin:1em 0 2.5em 0;
}

.des-item-wrapper {
  float:left;

}

.des-item {
  border-radius:2em;
  width:18em;
  height:18em;
  margin:0 3em 1em 3em;
}

.des-icon-section {
  margin:auto;
  text-align:center;
}

.des-icon {
  font-size: 2.25em;
}

.des-icon-text{
  font-size:0.8em;
  text-transform: uppercase;
}

.buy-now{
  background-color:#000;
  color:#fff;
  border-radius:10px;
  font-size:1.2em;
  width:7em;
  padding:0.75em;
  text-align: center;
  text-transform: uppercase;
  margin:1em 0;
}