<div [@comm-design-bar]="routeType=='design' ? 'design' : 'comm'" ></div>

<mat-toolbar class="p-0 mat-elevation-z1 design-toolbar"
             fxLayout="column"
             [@comm-design-bar]="routeType=='design' ? 'design' : 'comm'"
             (@comm-design-bar.done)="navbarAnimationDone($event)"
             (@comm-design-bar.start)="navbarAnimationStart($event)">

	<div fxFlex fxFill fxLayout="row" fxLayoutAlign="space-between center" class="pl-20 pr-20">


    <!-- The logo -->
    <!--[@comm-design-logo]="routeType=='design' ? 'design' : 'comm'"-->

    <div fxLayout="row"
         fxLayoutAlign="start center">
			<div class="">
				<a [routerLink]="'/'" ><img class="logo-icon" src="assets/images/makTextBlackSmall.png"></a>
			</div>
    </div>




    <div fxLayoutAlign="start center"
         fxLayout="column">

        <!-- The nav links for the commercial app -->
      <div class=""
          fxFlex="0 1 auto"
          fxLayout="row"
          [@comm-links]="displayAppNav ? 'design' : 'comm'"
          fxLayoutAlign="start center">
        <mak-comm-links [route]="route" [isLoggedIn]="(isLoggedIn$ | async)"></mak-comm-links>

      </div>


    </div>



    <!-- The dropdown on the right for the design app -->
    <div class="w-200"
         fxFlex="0 1 auto"
         fxLayout="row"
         fxLayoutAlign="start center"
         [@comm-design-drop]="routeType=='design' ? 'design' : 'comm'">
         <mak-navbar-dropdown [userData]="userData"
                           [profileImage]="(profileImage$ | async)">
      </mak-navbar-dropdown>
		</div>

    <div *ngIf="routeType!='design'" class="w-200"></div>

  </div>

</mat-toolbar>
