<mat-toolbar class="p-0 mat-elevation-z1 design-toolbar"
             fxLayout="column"
             [@comm-design-bar]="routeType=='design' ? 'design' : 'comm'"
             (@comm-design-bar.done)="navbarAnimationDone($event)"
             (@comm-design-bar.start)="navbarAnimationStart($event)">

	<div fxFlex fxFill fxLayout="row" fxLayoutAlign="space-between center" class="pl-20 pr-20">


    <!-- The logo -->
    <!--[@comm-design-logo]="routeType=='design' ? 'design' : 'comm'"-->

    <div fxLayout="row"
         fxLayoutAlign="start center">
			<div class="">
				<a [routerLink]="'/'" ><img class="logo-icon" src="assets/images/makTextBlackSmall.png"></a>
			</div>
    </div>




    <div fxLayoutAlign="start center"
         fxLayout="column">

        <!-- The nav links for the commercial app -->
      <div class=""
          fxFlex="0 1 auto"
          fxLayout="row"
          fxLayoutAlign="start center">
        <mak-comm-links [route]="route"></mak-comm-links>

      </div>




      <!-- The navbar links for the design app -->
      <div fxFlex="0 1 auto"
          fxLayout="row"
          fxLayoutAlign="start center"
          [@comm-design-links]="displayAppNav ? 'design' : 'comm'">

        <button mat-icon-button class="navbar-toggle-button" fxHide.gt-md>
          <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <div class="toolbar-separator" fxHide.gt-md></div>

        <div class="px-8 px-md-16">
          <mak-navbar-links [userData]="userData"
                            [route]="route"
                            [isLoggedIn]="(isLoggedIn$ | async)">
          </mak-navbar-links>
        </div>

      </div>

    </div>



    <!-- The dropdown on the right for the design app -->
    <div class="w-200"
         fxFlex="0 1 auto"
         fxLayout="row"
         fxLayoutAlign="start center"
         [@comm-design-drop]="routeType=='design' ? 'design' : 'comm'">
         <mak-navbar-dropdown [userData]="userData"
                           [profileImage]="(profileImage$ | async)">
      </mak-navbar-dropdown>
		</div>

    <div *ngIf="routeType!='design'" class="w-200"></div>

  </div>

</mat-toolbar>
