

#marketplace {

    .header {


        .hero-text {

            .hero-icon {
                position: absolute;
                top: -64px;
                left: 0px;
                opacity: 0.04;
                font-size: 512px !important;
                width: 512px !important;
                height: 512px !important;
            }

            h1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;
            }

            h3 {
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;
            }
        }

        .header {
            background: #1A237E;
            background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);

            .hero-text {

                h1 {
                    color: white;
                }

                h3 {
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }

   }




    .content {

        .category-selector {
            min-width: 320px;
        }

        .filters {
            width: 100%;
            max-width: 1040px;
            margin: 24px auto;
            padding: 0 20px;


            .marketplaceitem-search {
                width: 320px;

            }
        }

        .marketplaceitems {
            width: 100%;
            max-width: 1040px;
            margin: 0 auto;

            .no-marketplaceitems {
                font-size: 24px;
                margin: 24px 0;
                text-align: center;
            }

        }
    }
}
