

<div id="marketplace" class="page-layout simple">

	<div class="content">

		<div class="center p-24 mt-30">

			<h1 class="text-center">The Marketplace</h1>

			<!-- Select the type -->
			<mat-form-field appearance="outline"
							floatLabel="always"
							class=""
							name="myName"
							style="width:60%; margin:0px 20%;">
				<mat-label>Select Type</mat-label>
				<mat-select [(ngModel)]="selectedType">
					<mat-option *ngFor="let thisType of designTypes" [value]="thisType">
						{{thisType}}
					</mat-option>
				</mat-select>
			</mat-form-field>


			<div class="marketplaceitems"
				 fxLayout="row wrap"
				 fxLayoutAlign="center">

				<ng-container *ngFor="let si of (makDesigns$ | async)">

          <mak-market-item [si]="si"
                           [signoffs]="signoffs"
                           [images]="images"
                           [selectedType]="selectedType"
                           [userData]="userData">
          </mak-market-item>

				</ng-container>

			</div>

		</div>
		<!-- / CONTENT CARD -->

	</div>
	<!-- / CENTER -->

</div>
