<div fxLayout="row" fxLayoutAlign="center center">

  <div class="link-list"
       fxLayoutAlign="center center">

    <div class="link-item"
         [ngClass]="{'currentNav': ourWorkArray.includes(route), 'submenu': !ourWorkArray.includes(route) }">
      <a [routerLink]="'/ourWork'">OUR WORK</a>
    </div>

    <div class="link-item"
         [ngClass]="{'currentNav': productsArray.includes(route), 'submenu': !productsArray.includes(route) }">
      <a [routerLink]="'/products'">PRODUCTS</a>
    </div>

    <div class="link-item"
         [ngClass]="{'currentNav': route=='/services', 'submenu':route!='/services'}">
      <a [routerLink]="'/services'">SERVICES</a>
    </div>

    <div class="link-item"
        [ngClass]="{'currentNav': route=='/aboutUs', 'submenu':route!='/aboutUs'}">
      <a [routerLink]="'/aboutUs'">ABOUT</a>
    </div>

    <div class="link-item"
        [ngClass]="{'currentNav': route=='/contact', 'submenu':route!='/contact'}">
      <a [routerLink]="'/contact'">CONTACT</a>
    </div>

    <div class="link-item"
         *ngIf="!isLoggedIn"
        [ngClass]="{'currentNav': designArray.includes(route), 'submenu': !designArray.includes(route) }">
      <a [routerLink]="'/catalog'">DESIGN APP</a>
    </div>

    <div class="link-item"
         *ngIf="isLoggedIn"
        [ngClass]="{'currentNav': designArray.includes(route), 'submenu': !designArray.includes(route) }">
      <a [routerLink]="'/dashboard'">DESIGN APP</a>
    </div>

  </div>

</div>
