
<div class="chat" fxFlex fxLayout="column">

	<mat-toolbar class="chat-toolbar">

		<div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

			<div fxLayout="row" fxLayoutAlign="start center" *ngIf="dataFlag">
				A chat with Mak Studio

				<ng-container *ngFor="let cont of contacts">
					<ng-container *ngIf="cont">
						<img [src]="(cont.profileImage | async)"
							 class="avatar ml-20">
					</ng-container>
				</ng-container>

			</div>

		</div>
	</mat-toolbar>


	<div id="chat-content" fxFlex="1 1 auto"  *ngIf="dataFlag">

		<div class="chat-messages" *ngIf="conversations[selectedChat]['messages']">

			<div *ngFor="let message of conversations[selectedChat]['messages']; let i = index" class="message-row"
				 [ngClass]="{
							'me': message.sender === userData.uid,
							'contact': message.sender !== userData.uid,
							'first-of-group': isFirstMessageOfGroup(message, i),
							'last-of-group': true
							}">

				<ng-container *ngFor="let cont of contacts">
					<ng-container *ngIf="cont">
						<img *ngIf="cont.uid==message.sender"
							 [src]="(cont.profileImage | async)"
							 class="avatar">
					</ng-container>
				</ng-container>

				<div class="bubble">
					<div class="message">{{message.text}}</div>
					<div class="time secondary-text">{{message.sendDate | date:'short'}}</div>
				</div>

			</div>

		</div>

	</div>


  <div class="chat-footer" fxFlex="0 0 auto" fxLayout="column">

    <div class="reply-form" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center">

			<form #replyForm="ngForm"
				  (ngSubmit)="reply($event)"
				  (keydown.enter)="reply($event)"
				  fxFlex fxLayout="row" fxLayoutAlign="start center">

				<mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
					<textarea matInput #replyInput placeholder="Type your message"
							  ngModel name="message" [rows]="1" [matTextareaAutosize]="true"></textarea>
				</mat-form-field>

				<button class="send-message-button" mat-icon-button type="submit" aria-label="Send message">
					<mat-icon class="secondary-text">send</mat-icon>
				</button>

			</form>

		</div>

	</div>

</div>

