
<!-- FOR LOOP FOR THE HEXAGON MENU THAT THE USER HAS SET -->
<div class="hexagon" 
	 *ngFor="let menuitem of designData['parameterMenus']; let i=index;"
	 [ngStyle]="{'position':'absolute', 'left':designData['menuLocations'][i][0]+'px', 'top':designData['menuLocations'][i][1]+'px'}" 
	 (click)="menuClick(i)">

	<span>
		<mat-icon style="position:relative; left:12px; top:-5px" 
				  class="w-30 text-center mat-display-1">{{menuitem.icon}}
		</mat-icon>
	</span>

</div>




<!-- THE SIDEBAR MENU THAT DEPENDS UPON WHAT IS SELECTED -->
<fuse-sidebar id="mainSidebar" 
              class="sidebar" 
              position="left" 
              lockedOpen="gt-sm"
              style="position:absolute; left:220px; top:100px;"
              *ngFor="let menuitem of designData['parameterMenus']; let i=index;">


	<div *ngIf="designData['menuShow'][i]">
	

		<!-- The icon to close the left menus -->
		<div style="position:absolute; top:6px; right:6px; cursor:pointer;"
			 (click)="onMenuClose()">
			<span>
				<mat-icon style="" 
						  class="text-right font-size-14">close
				</mat-icon>
			</span>	
		</div>


		<!-- The label for the side menu -->
		<h2 class="mat-title text-center pt-20">{{menuitem.label}}</h2>

		<mat-divider class="mb-20"></mat-divider>


		<!-- Loop through the items and set them accordingly -->
		<div *ngFor="let valItem of menuitem['parameters']; let j=index;">



			<!-- The top design panel -->
			<div *ngIf="valItem['type']=='makButtonSet'">

				<mat-grid-list cols="3" rowHeight="60px" class="mb-40">
				 

				 	<mat-grid-tile *ngFor="let buttonItem of valItem['buttons']; let k=index;" 
				 				   [matTooltip]="buttonItem['tooltip']">
				    	<a mat-button routerLink="."><img [src]="buttonItem['icon']"></a>
				  	</mat-grid-tile>

				</mat-grid-list>

			</div>



			<!-- The top design panel -->
			<div *ngIf="valItem['type']=='makText'">

				<div>{{valItem['text']}}</div>

			</div>


			<!-- The top design panel -->
			<div *ngIf="valItem['type']=='makProjectVersions'"
				 fxLayoutAlign="center center"
				 fxLayout="column">


				<button mat-stroked-button 
						color="accent"
						(click)="createNewVersion.emit()">
					Create New Version
				</button>

				<div class="p-20"
					 fxFlex="100">
					<mat-selection-list>
						<mat-list-option  *ngFor="let version of versionList; let i=index"
					  					  (click)="setVersionData.emit(version)"
					  				      fxLayout="row"
					  				      [ngClass]="{'current' : version==versionData}">
							<div>Version {{version.version}}</div>
							<div>{{version.name}}</div>
					  	</mat-list-option>
					</mat-selection-list>
				</div>
			</div>



			<!-- The cost item -->
			<div *ngIf="valItem['type']=='makCostDesign'">

				<div class="p-20">When this design is active, the user will see the initial price. When a project is created, the user will see a price quote based upon the formula entered in the creator studio.</div>

			</div>


			<!-- The cost item -->
			<div *ngIf="valItem['type']=='makCostStudio'">

				<div class="w-300">
					<div style="margin-top:10px; padding:5px 0px"
						 class="text-center primary-900 w-120 ml-80">
						{{designData['initialPrice']}}
					</div>
				</div>



				<div class="w-300 mb-40">
					<div style="margin-top:10px; padding:5px 0px; color:#CCC"
						 class="text-center primary-A100 w-120 ml-80 mt-20 heading-2"
						 (click)=addMyProject(designData.uid)>
						Create Project with this Design
					</div>
				</div>

			</div>




			<!-- The cost item -->
			<div *ngIf="valItem['type']=='makCostProject'">

				<div class="w-300">
					<div style="margin-top:10px; padding:5px 0px"
						 class="text-center primary-900 w-120 ml-80">
						{{designData['price']}}
					</div>
				</div>

			</div>




			<!-- The drop down items -->
			<div *ngIf="valItem['type']=='dropdown'"
				 class="w-280 mt-20">

				<div class="h3 text-center">{{valItem['label']}}</div>

				<div class="w-240 ml-20">
					<mat-form-field>
					  <mat-select class="w-240"
					  			  [(ngModel)]="valItem['value']"
					  			  (selectionChange)="updateParameter.emit({'name':valItem['shapediver'], 'value':valItem['value']});">
					    <mat-option *ngFor="let option of valItem.options" [value]="option.value">
					      {{option.label}}
					    </mat-option>
					  </mat-select>
					</mat-form-field>
				</div>

			</div>



			<!-- The slider items -->
			<div *ngIf="valItem['type']=='slider'"
				 class="w-280 mt-20">

				<div class="h3 text-center">{{valItem['label']}}</div>


				<div fxLayout="row">

					<div class="custom-slider w-160 mr-20 ml-20">
						<ng5-slider [(value)]="valItem['value']" 
									[options]="{floor: valItem['min'], 
												ceil: valItem['max'], 
												step: valItem['step'], 
												showTicks: valItem['showTicks'], 
												showTicksValues: valItem['showTicksValues']}"
									(valueChange)="updateParameter.emit({'name':valItem['shapediver'], 'value':valItem['value']});">
						</ng5-slider>
					</div>





					<input matInput 
						   id=""
						   style="width:70px; border:1px solid #ACACAC;" 
						   class="inputItem w-70 mat-subheading-2 pt-5 pb-5 text-center mt-20" 
						   [(ngModel)]="valItem['value']"
						   (keyup.enter)="updateParameter.emit({'name':valItem['shapediver'], 'value':valItem['value']});">

				</div>


			</div>




			<!-- The text items -->
			<div *ngIf="valItem['type']=='text'">

				<div class="h3 text-center mt-12">{{valItem['label']}}</div>
				<div class="w-280 text-center" layout="row">
				
					<input matInput 
						   id=""
						   style="width:200px; border:1px solid #ACACAC" 
						   class="inputItem w-70 mat-subheading-2 pt-5 pb-5 text-center" 
						   [(ngModel)]="valItem.modelID"
						   (keyup.enter)="updateParameter.emit({'name':valItem['shapediver'], 'value':valItem['value']});">

				</div>

			</div>




			<!-- The toggle items -->
			<div *ngIf="valItem['type']=='toggle'"
				 fxLayout="row"
				 fxFlex="100%"
				 class="mt-8 mb-8">


				<div class="h3 text-center mt-12"
					 fxFlex="80%">
					{{valItem['label']}}
				</div>

				<mat-slide-toggle
					  fxFlex="20%"
					  [(ngModel)]="valItem.value"
					  (toggleChange)="updateParameter.emit({'name':valItem['shapediver'], 'value':valItem['value']});"
					  class="mt-12"
					  color="accent-900">
				</mat-slide-toggle>


			</div>





			<!-- The upload items -->
			<div *ngIf="valItem['type']=='upload'"
				 fxLayout="row"
				 fxFlex="100%"
				 fxLayoutAlign="center center"
				 class="mt-8 mb-8">


				<input class="ng-hide"
					   style="display:none" 
			   		   id="uploadItem" 
					   multiple type="file"
					   accept=".png,.jpg,.jpeg,.gif"
					   (change)="updateParameter.emit({'name':valItem['shapediver'], 'value': $('#uploadItem')[0]['files'][0]})" />

				<label for="uploadItem" 
					   style="background-color:#456382; cursor:pointer; border-radius:8px; padding:10px; margin:10px 0px 0px 0px; color: white;"
					   color="primary" 
					   class="md-button md-raised md-primary">
					{{valItem['label']}}
				</label>


			</div>




		</div>



	</div>



</fuse-sidebar>



