
<!-- FOR LOOP FOR THE HEXAGON MENU THAT THE USER HAS SET -->
<div class="hexagon" 
	 *ngFor="let menuitem of designData['parameterMenus']; let i=index;"
	 [ngStyle]="{'position':'absolute', 'left':designData['menuLocations'][i][0]+'px', 'top':designData['menuLocations'][i][1]+'px'}" 
	 (click)="menuClick(i)">

	<span>
		<mat-icon style="position:relative; left:12px; top:-5px" 
				  class="w-30 text-center mat-display-1">{{menuitem.icon}}
		</mat-icon>
	</span>

</div>




<!-- THE SIDEBAR MENU THAT DEPENDS UPON WHAT IS SELECTED -->
<fuse-sidebar id="mainSidebar" 
			  class="sidebar" 
			  position="left" 
			  lockedOpen="gt-sm"
			  style="position:absolute; left:220px; top:100px;"
			  *ngFor="let menuitem of designData['parameterMenus']; let i=index;">


	<div *ngIf="designData['menuShow'][i]">
	

		<!-- The icon to close the left menus -->
		<div style="position:absolute; top:6px; right:6px; cursor:pointer;"
			 (click)="onMenuClose()">
			<span>
				<mat-icon style="" 
						  class="text-right font-size-14">close
				</mat-icon>
			</span>	
		</div>


		<!-- The label for the side menu -->
		<h2 class="mat-title text-center pt-20">{{menuitem.label}}</h2>

		<mat-divider class="mb-20"></mat-divider>


		<!-- Loop through the items and set them accordingly -->
		<div *ngFor="let valItem of menuitem['parameters']; let j=index;">



			<!-- The top design panel -->
			<div *ngIf="valItem['type']=='makButtonSet'">

				<mat-grid-list cols="3" rowHeight="60px" class="mb-40">
				 

				 	<mat-grid-tile *ngFor="let buttonItem of valItem['buttons']; let k=index;" 
				 				   [matTooltip]="buttonItem['tooltip']">
						<a mat-button [routerLink]="'/designStudio/'+buttonItem['id']"
									  (click)="loadModel.emit(buttonItem['id'])">
							<img [src]="buttonItem['icon']" >
						</a>
				  	</mat-grid-tile>

				</mat-grid-list>

			</div>



			<!-- The top design panel -->
			<div *ngIf="valItem['type']=='makText'">

				<div class="p-20">{{valItem['text']}}</div>

			</div>


			<!-- The top design panel -->
			<div *ngIf="valItem['type']=='makProjectVersions'"
				 fxLayoutAlign="center center"
				 fxLayout="column"
				 fxFlex="100">


				<button mat-stroked-button 
						color="accent"
						(click)="createNewVersion.emit()">
					Create New Version
				</button>

				<div *ngFor="let version of versionList; let i=index"
					 (click)="setVersionData.emit(version)"
					 fxLayout="row"
					 fxLayoutAlign="center center"
					 class="mb-12 mt-12"
					 style="cursor:pointer; font-size:1.1em; width:90%; margin:0px 5%; padding:10px 0px"
					 [ngClass]="{'current' : version.version == versionData.version}">
					
					<div fxFlex="40" style="text-align:center">Version {{version.version}}</div>
					<div fxFlex="60" style="text-align:center">{{version.name}}</div>
				</div>

			</div>





			<!-- The signoff panel -->
			<div *ngIf="valItem['type']=='makDesignSignoffs'"
				 fxLayoutAlign="center center"
				 fxLayout="column"
				 fxFlex="100">


				<div *ngFor="let signoff of signoffData; let i=index"
					 class="ml-20 mr-20">

					<div class="mb-12 mt-12"
						 fxLayoutAlign="space-between center"
						 fxLayout="row">
						<div *ngIf="signoff.approve">Approved</div>
						<div *ngIf="!signoff.approve">Not Approved</div>
						<div>{{signoff.dateCreated | date:'short'}}</div>
					</div>
					<div class="mb-12 mt-12">{{signoff.creatorEmail}}</div>
					<div class="mb-12 mt-12">{{signoff.comments}}</div>

				</div>


				<mat-divider></mat-divider>

				<mat-form-field class="w-80-p">
					<mat-select name="signoffStatus"
								style="margin-left:10%"
				  				[(ngModel)]="signoffStatus">
						<mat-option >Not Approved</mat-option>
						<mat-option >Approved with comments</mat-option>
						<mat-option >Approved</mat-option>
				  </mat-select>
				</mat-form-field>

				<mat-form-field class="w-80-p">
					<mat-label>Comments</mat-label>
					<textarea matInput
							[(ngModel)]="signoffComments"
							name="signoffComments">
								
					</textarea>
				</mat-form-field>

				<div fxFlex="20" style="margin:20px auto">
					<button mat-stroked-button 
							class="primary" 
							name="saveMe"
							(click)="createNewSignoff()">
						Save Signoff
					</button>
				</div>


			</div>







			<!-- The cost item -->
			<div *ngIf="valItem['type']=='makCostDesign' || valItem['type']=='makCostStudio'"
				 fxLayoutAlign="center center"
				 fxLayout="column">

				<div class="w-140">
					<div style="padding:5px 0px;"
						 class="text-center primary-900 w-120 mb-20 mt-12">
						{{versionData['price']}}
					</div>
				</div>

				<div class="w-140 mb-40"
					*ngIf="userData === undefined">
					<div style="margin-top:10px; padding:5px 0px; color:#CCC"
						 class="text-center primary-A100 w-120 mt-20 mb-20 heading-2"
						 [routerLink]="'/login'">
						Log In to Create Project
					</div>
				</div>


				<div class="w-140 mb-40"
					 *ngIf="userData !== undefined">
					<div style="margin-top:10px; padding:5px 0px; color:#CCC"
						 class="text-center primary-A100 w-120 mt-20 mb-20 heading-2"
						 (click)=addMyProject(designData.uid)>
						Create Project with this Design
					</div>
				</div>


			</div>





			<!-- The cost item -->
			<div *ngIf="valItem['type']=='makCostProject'"
				 fxLayoutAlign="center center"
				 fxLayout="column">


				<div class="w-280"
				 fxLayoutAlign="center center">
					<div style="padding:5px 0px"
						 class="text-center primary-900 w-120 mt-12 mb-20">
						{{versionData['price']}}
					</div>
				</div>

				<div class="w-280 mb-40 mt-8"
					 fxLayoutAlign="center center">
					<button mat-stroked-button 
							color="accent"
							[routerLink]="'/invoice/'+versionData.uid">
						Get Quote
					</button>
				</div>

			</div>






			<!-- The drop down items -->
			<div *ngIf="valItem['type']=='dropdown'"
				 class="w-280 mt-20">

				<div class="h3 text-center">{{valItem['label']}}</div>

				<div class="w-240 ml-20"
					 *ngIf="editableVersion">
					<mat-form-field>
					  <mat-select class="w-240"
					  			  [(ngModel)]="valItem['value']"
					  			  (selectionChange)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':valItem['value']});">
						<mat-option *ngFor="let option of valItem.options" [value]="option.value">
						  {{option.label}}
						</mat-option>
					  </mat-select>
					</mat-form-field>
				</div>

				<div class="h4 text-center w-260"
					 *ngIf="!editableVersion">
					<span *ngFor="let option of valItem.options">
						<span *ngIf="option.value == valItem.value">
							{{option.label}}
						</span>
					</span>
				</div>


			</div>



			<!-- The slider items -->
			<div *ngIf="valItem['type']=='slider'"
				 class="w-280 mt-20">

				<div class="h3 text-center">{{valItem['label']}}</div>


				<div fxLayout="row">

					<div class="custom-slider w-160 mr-20 ml-20">
						<ng5-slider [(value)]="valItem['value']" 
									[options]="{floor: valItem['min'], 
												ceil: valItem['max'], 
												step: valItem['step'], 
												readOnly : !editableVersion,
												showTicks: valItem['showTicks'], 
												showTicksValues: valItem['showTicksValues']}"
									(valueChange)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':valItem['value']});">
						</ng5-slider>
					</div>

					<input matInput 
						   id=""
						   *ngIf="editableVersion"
						   style="width:70px; border:1px solid #ACACAC;" 
						   class="inputItem w-70 mat-subheading-2 pt-5 pb-5 text-center mt-20" 
						   [(ngModel)]="valItem['value']"
						   (keyup.enter)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':valItem['value']});">

					<div *ngIf="!editableVersion"
						 style="width:70px; border:1px solid #ACACAC;" 
						 class="w-70 mat-subheading-2 pt-5 pb-5 text-center mt-20" >
						{{valItem['value']}}
					</div>

				</div>



			</div>




			<!-- The text items -->
			<div *ngIf="valItem['type']=='text'">

				<div class="h3 text-center mt-12">{{valItem['label']}}</div>
				<div class="w-280 text-center" layout="row">
				
					<input matInput 
						   id=""
						   *ngIf="editableVersion"
						   style="width:200px; border:1px solid #ACACAC" 
						   class="inputItem w-70 mat-subheading-2 pt-5 pb-5 text-center" 
						   [(ngModel)]="valItem['value']"
						   (keyup.enter)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':valItem['value']});">

					<div *ngIf="!editableVersion"
						 style="width:200px; border:1px solid #ACACAC" 
						 class="w-70 mat-subheading-2 pt-5 pb-5 text-center">
						{{valItem['value']}}
					</div>

				</div>

			</div>





			<!-- The toggle items -->
			<div *ngIf="valItem['type']=='toggle'"
				 fxLayout="row"
				 fxFlex="100%"
				 class="mt-8 mb-8">


				<div class="h3 text-center mt-12"
					 fxFlex="80%">
					{{valItem['label']}}
				</div>

				<mat-slide-toggle
					  fxFlex="20%"
					  *ngIf="editableVersion"
					  [(ngModel)]="valItem.value"
					  (toggleChange)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':!valItem['value']});"
					  class="mt-12"
					  color="accent-900">
				</mat-slide-toggle>

				<mat-slide-toggle
					  fxFlex="20%"
					  *ngIf="!editableVersion"
					  [(ngModel)]="valItem.value"
					  (toggleChange)="valItem.value=!valItem.value"
					  class="mt-12"
					  color="accent-900">
				</mat-slide-toggle>

			</div>





			<!-- The upload items -->
			<div *ngIf="valItem['type']=='upload'"
				 fxLayout="row"
				 fxFlex="100%"
				 fxLayoutAlign="center center"
				 class="mt-8 mb-8">


				<input class="ng-hide"
					   style="display:none" 
			   		   id="uploadItem" 
					   *ngIf="editableVersion"
					   type="file"
					   accept=".png,.jpg,.jpeg,.gif"
					   (change)="uploadFile.emit($event, valItem['shapediver']);" >

				<label for="uploadItem" 
					   style="background-color:#456382; cursor:pointer; border-radius:8px; padding:10px; margin:10px 0px 0px 0px; color: white;"
					   *ngIf="editableVersion"
					   color="primary" 
					   class="md-button md-raised md-primary">
					{{valItem['label']}}
				</label>

				<div *ngIf="!editableVersion"
					 style="background-color:#456382; cursor:pointer; border-radius:8px; padding:10px; margin:10px 0px 0px 0px; color: white;"
					 color="primary" 
					 class="md-button md-raised md-primary">
					 {{valItem['label']}}
				</div>


			</div>





			<!-- The color selector -->
			<div *ngIf="valItem['type']=='color select'"
				 fxLayout="row"
				 fxFlex="100%"
				 fxLayoutAlign="center center"
				 class="mt-8 mb-8">

				<div class="w-280 text-center mt-20 mb-20" fxLayout="row">

					<div class="h3 text-center mb-12 w-200">{{valItem['label']}}</div>

					<input ejs-colorpicker 
						   type="color" 
						   id="colorpicker" 
						   *ngIf="editableVersion"
						   style="padding:0px"
						   [(ngModel)]="valItem['colorValue']" 
						   (change)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':formatColor(valItem['colorValue'])});" />

					<div *ngIf="!editableVersion"
						 style="width:50px; height:50px; background-color:valItem['colorValue']">
					</div>

				</div>

			</div>





			<!-- The image select items -->
			<div *ngIf="valItem['type']=='image select'"
				 fxLayout="column"
				 fxFlex="100%"
				 fxLayoutAlign="center center"
				 class="mt-8 mb-8">

				<div class="h3 text-center mb-12 w-200">{{valItem['label']}}</div>

				<ng-container *ngIf="valItem.images.length==3">

					<div fxLayout="row"
						 *ngIf="editableVersion"
						 fxFlex="100">

						<div *ngFor="let thisImage of valItem['images'];"
							 fxLayoutAlign="center center"
							 fxLayout="column"
							 class="mt-12 mb-20"
							 style="cursor:pointer; text-align:center"
							 fxFlex="30"
							 [matTooltip]="thisImage.label"
							 (click)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':thisImage['value']});">

							<div fxFlex="100"
								 fxLayout="center"
								 style="height:75px; width:75px">
									<img width="75" height="75" class="selectImage" [src]="(thisImage.imageUrl | async)">
							</div>

						</div>

					</div>


					<div fxLayout="row"
						 *ngIf="!editableVersion"
						 fxFlex="100">

						<div *ngFor="let thisImage of valItem['images'];"
							 fxLayoutAlign="center center"
							 fxLayout="column"
							 class="mt-12 mb-20"
							 style="cursor:pointer; text-align:center"
							 fxFlex="30"
							 [matTooltip]="thisImage.label">

							<div fxFlex="100"
								 fxLayout="center"
								 style="height:75px; width:75px">
									<img width="75" height="75" class="selectImage" [src]="(thisImage.imageUrl | async)">
							</div>

						</div>

					</div>


				</ng-container>



			</div>







			<!-- The blob item -->
			<div *ngIf="valItem['type']=='blob' && flowerFlag">

				<div class="h2 text-center mt-12 mb-20">{{valItem['label']}}</div>

				<div class="w-280 text-center"
					 layout="column"
					 *ngIf="editableVersion">

					<button mat-raised-button 
							color="primary"
							(click)="addNewItemToBlob()"
							class="mt-20 mb-20">
						Add New Flower
					</button>


					<div class="w-280 mt-20 mb-20">
						<mat-form-field>
						  <mat-select class="w-240"
						  			  [(ngModel)]="blobSelectIndex">
							<mat-option *ngFor="let option of flowersJSON['flowers']; index as p" [value]="p">
							  Flower - {{p}}
							</mat-option>
						  </mat-select>
						</mat-form-field>
					</div>

					<div class="h3 text-center mb-12 w-200">Flower Size</div>
				
					<input matInput 
						   id=""
						   style="width:200px; border:1px solid #ACACAC" 
						   *ngIf="flowersJSON['flowers'][blobSelectIndex]"
						   class="inputItem w-240 mat-subheading-2 pt-5 pb-5 text-center" 
						   [(ngModel)]="flowersJSON['flowers'][blobSelectIndex]['size']"
						   (keyup.enter)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':stringify(flowersJSON)});">



					<div class="h3 text-center mb-12 w-200">Flower Rotation</div>
				
					<input matInput 
						   id=""
						   style="width:200px; border:1px solid #ACACAC" 
						   *ngIf="flowersJSON['flowers'][blobSelectIndex]"
						   class="inputItem w-240 mat-subheading-2 pt-5 pb-5 text-center" 
						   [(ngModel)]="flowersJSON['flowers'][blobSelectIndex]['rotation']"
						   (keyup.enter)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':stringify(flowersJSON)});">




					<div class="h3 text-center mb-12 w-200">Position - X</div>
				
					<input matInput 
						   id=""
						   style="width:200px; border:1px solid #ACACAC" 
						   *ngIf="flowersJSON['flowers'][blobSelectIndex]"
						   class="inputItem w-240 mat-subheading-2 pt-5 pb-5 text-center" 
						   [(ngModel)]="flowersJSON['flowers'][blobSelectIndex]['position'][0]"
						   (keyup.enter)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':stringify(flowersJSON)});">



					<div class="h3 text-center mb-12 w-200">Position - Y</div>
				
					<input matInput 
						   id=""
						   style="width:200px; border:1px solid #ACACAC" 
						   *ngIf="flowersJSON['flowers'][blobSelectIndex]"
						   class="inputItem w-240 mat-subheading-2 pt-5 pb-5 text-center" 
						   [(ngModel)]="flowersJSON['flowers'][blobSelectIndex]['position'][1]"
						   (keyup.enter)="updateParameter.emit({'name':valItem['shapediver'], 'id':valItem['shapediverId'], 'value':stringify(flowersJSON)});">



					<button mat-raised-button 
							color="accent"
							(click)="deleteItemFromBlob( blobSelectIndex )"
							class="mb-20">
						Delete This Flower
					</button>



				</div>



				<div class="w-280 text-center"
					 layout="column"
					 *ngIf="!editableVersion">


					<div class="w-280 mt-20 mb-20">
						<mat-form-field>
						  <mat-select class="w-240"
						  			  [(ngModel)]="blobSelectIndex">
							<mat-option *ngFor="let option of flowersJSON['flowers']; index as p" [value]="p">
							  Flower - {{p}}
							</mat-option>
						  </mat-select>
						</mat-form-field>
					</div>



					<div class="h3 text-center mb-12 w-200">Flower Size</div>
				
					<div style="width:200px; border:1px solid #ACACAC" 
						 *ngIf="flowersJSON['flowers'][blobSelectIndex]"
						 class="w-240 mat-subheading-2 pt-5 pb-5 text-center"> 
						   {{flowersJSON['flowers'][blobSelectIndex]['size']}}
					</div>





					<div class="h3 text-center mb-12 w-200">Flower Rotation</div>
				
					<div style="width:200px; border:1px solid #ACACAC" 
						 *ngIf="flowersJSON['flowers'][blobSelectIndex]"
						 class="w-240 mat-subheading-2 pt-5 pb-5 text-center"> 
						   {{flowersJSON['flowers'][blobSelectIndex]['rotation']}}
					</div>




					<div class="h3 text-center mb-12 w-200">Position - X</div>
				
					<div style="width:200px; border:1px solid #ACACAC" 
						 *ngIf="flowersJSON['flowers'][blobSelectIndex]"
						 class="w-240 mat-subheading-2 pt-5 pb-5 text-center"> 
						   {{flowersJSON['flowers'][blobSelectIndex]['position'][0]}}
					</div>



					<div class="h3 text-center mb-12 w-200">Position - Y</div>

					<div style="width:200px; border:1px solid #ACACAC" 
						 *ngIf="flowersJSON['flowers'][blobSelectIndex]"
						 class="w-240 mat-subheading-2 pt-5 pb-5 text-center"> 
						   {{flowersJSON['flowers'][blobSelectIndex]['position'][1]}}
					</div>


				</div>

			</div>



		</div>



	</div>



</fuse-sidebar>



