

<!-- The hexagon menu-->
<mak-design-hexagons
	[designData]="designData"
	(menuClick)="menuClick($event)">
</mak-design-hexagons>


<!-- THE SIDEBAR MENU THAT DEPENDS UPON WHAT IS SELECTED -->
<div class="sidebar"
			  position="left"
			  lockedOpen="gt-sm"
			  style="position:absolute; left:220px; top:100px;"
			  *ngFor="let menuitem of designData['parameterMenus']; let i=index;">

	<div *ngIf="menuShow[i]"
		 class="pb-25 sidebar-inner">

		<!-- The icon to close the left menus -->
		<div style="position:absolute; top:6px; right:6px; cursor:pointer;"
			 (click)="onMenuClose()">
			<span>
				<mat-icon class="text-right font-size-14">close</mat-icon>
			</span>
		</div>


		<!-- The label for the side menu -->
		<div class="mat-title text-center pt-20">{{menuitem.label}}</div>

		<mat-divider class="mb-20"></mat-divider>


		<!-- Loop through the items and set them accordingly -->
		<div *ngFor="let valItem of menuitem['parameters']; let j=index;">



			<!-- The panel with the mak designs -->
			<div *ngIf="valItem['type']=='makButtonSet'">
				<mak-buttons [valItem]="valItem"
										 (loadModel)="loadModel.emit($event)">
				</mak-buttons>
			</div>



			<!-- The mak text items -->
			<div *ngIf="valItem['type']=='makText'">
				<div class="p-20">{{valItem['text']}}</div>
			</div>



			<!-- The versions panel -->
			<div *ngIf="valItem['type']=='makProjectVersions'"
					 fxLayoutAlign="center center"
				 	 fxLayout="column"
					 fxFlex="100">
				<mak-version-list [versionList]="versionList"
													[projectData]="projectData"
													[designData]="designData"
													[versionData]="versionData"
													(setVersionData)="setVersionData.emit($event)"
													style="width:100%">
				</mak-version-list>
			</div>



			<!-- The signoff panel -->
			<div *ngIf="valItem['type']=='makDesignSignoffs'"
				 	 style="height:500px !important">
				<mak-design-signoffs [signoffData]="signoffData"
														 [designData]="designData">
				</mak-design-signoffs>
			</div>



			<!-- The cost item for the studio with no login -->
			<div *ngIf="valItem['type']=='makCostDesign' || valItem['type']=='makCostStudio'"
				 fxLayoutAlign="center center"
				 fxLayout="column">
				<mak-design-cost [versionData]="versionData"
												 [userData]="userData"
												 [designData]="designData"
												 [versionData]="versionData">
				</mak-design-cost>
			</div>




			<!-- The cost item for a logged in user in a project -->
			<div *ngIf="valItem['type']=='makCostProject'"
				 	 fxLayoutAlign="center center"
				 	 fxLayout="column">
				<mak-project-cost [versionData]="versionData"
													[designData]="designData"
													[projectData]="projectData">
				</mak-project-cost>
			</div>




			<!-- The drop down items -->
			<div *ngIf="valItem['type']=='dropdown'"
				 class="w-280 mt-20 text-center">
				<mak-dropdown [valItem]="valItem"
											[editableVersion]="editableVersion"
											(updateParameter)="updateParameter.emit($event)">
				</mak-dropdown>
			</div>



			<!-- The slider items -->
			<div *ngIf="valItem['type']=='slider'"
				 class="w-280 mt-20">
				 <mak-slider [valItem]="valItem"
				 							 [editableVersion]="editableVersion"
											 (updateParameter)="updateParameter.emit($event)">
				</mak-slider>
			</div>




			<!-- The text items -->
			<div *ngIf="valItem['type']=='text'">
				<mak-text [valItem]="valItem"
									[editableVersion]="editableVersion"
									(updateParameter)="updateParameter.emit($event)">
				</mak-text>
			</div>





			<!-- The toggle items -->
			<div *ngIf="valItem['type']=='toggle'"
				 fxLayout="row"
				 fxFlex="100%"
				 class="mt-8 mb-8">
				<mak-toggle [valItem]="valItem"
									[editableVersion]="editableVersion"
									(updateParameter)="updateParameter.emit($event)">
				</mak-toggle>
			</div>





			<!-- The upload items -->
			<div *ngIf="valItem['type']=='upload'"
				 fxLayout="row"
				 fxFlex="100%"
				 fxLayoutAlign="center center"
				 class="mt-8 mb-8">
				<mak-fileupload [valItem]="valItem"
										[editableVersion]="editableVersion"
										(uploadFile)="uploadFile.emit($event)">
				</mak-fileupload>
			</div>





			<!-- The color selector -->
			<div *ngIf="valItem['type']=='color select'"
					 fxLayout="row"
					 fxFlex="100%"
					 fxLayoutAlign="center center"
					 class="mt-8 mb-8">
				<mak-colorselect [valItem]="valItem"
									  [editableVersion]="editableVersion"
				 						(updateParameter)="updateParameter.emit($event)">
				</mak-colorselect>
			</div>





			<!-- The image select items -->
			<div *ngIf="valItem['type']=='image select'"
					 fxLayout="column"
					 fxFlex="100%"
					 fxLayoutAlign="center center"
					 class="mt-8 mb-8">
				<mak-imageselect [valItem]="valItem"
											 	 [editableVersion]="editableVersion"
												 (updateParameter)="updateParameter.emit($event)">
				</mak-imageselect>
			</div>



			<!-- The blob item -->
			<div *ngIf="valItem['type']=='blob' && flowerFlag">
				<mak-blobitems [valItem]="valItem"
											 [editableVersion]="editableVersion"
											 [flowersJSON]="flowersJSON"
											 (updateParameter)="updateParameter.emit($event)">
				</mak-blobitems>
			</div>

		</div>

	</div>

</div>



