<section id="brandSection" class="section nomargin nopadding" style="background-color:#FFFFFF">

	<div class="container clearfix">

		<div class="sectionLabel">Results</div>

		<div class="sectionText">Fluid solid surface wrap a lobby rotunda for this global air conditioning company, Daikin’s US headquarters. The walls, created in collaboration with Houston-based Inventure Design, represent the movement of air, the foundation of the company.</div>

		<div fxLayoutAlign="row" class="mt-50 mb-30">

			<div fxFlex="30%">
				<button type="button" class="ml-5 btn btn-primary scheduleButton" onclick="location.href='https://meetings.hubspot.com/polli';">Schedule a call</button>
			</div>


			<div fxFlex="70%"
					 fxLayoutAlign="row">

				<div fxFlex="25%" class="listTitle">Services</div>

				<div fxFlex="75%">

					<div class="listSection">
						
						<div class="listItem">Collaborative Planning</div>
						<div class="listItem">Design and Technical Assistance</div>
						<div class="listItem">Digital Fabrication</div>
						<div class="listItem">Installation</div>

					</div>

				</div>

			</div>

		</div>



	</div>

</section>