<div fxFlex="100"
     fxLayout="column">

  <div fxFlex="100" style="margin:auto">
    <button mat-stroked-button 
            color="accent"
            class="vbut"
            (click)="createNewVersion()">
      Create New Version
    </button>
  </div>

  <ng-container *ngFor="let version of versionList; let i=index"
                style="margin:auto">
    <div *ngIf="version.projectId == projectData.id"
        (click)="setVersionData.emit(version)"
        fxLayout="row"
        fxFlex="100"
        fxLayoutAlign="center center"
        class="mb-12 mt-12"
        style="cursor:pointer; font-size:1.1em; width:90%; margin:0px 5%; padding:10px 0px"
        [ngClass]="{'current' : version.dateCreated == versionData.dateCreated}">

      <div fxFlex="40" style="text-align:center">{{version.dateCreated | date}}</div>
      <div fxFlex="60" style="text-align:center">{{version.name}}</div>
    </div>
  </ng-container>

  </div>  