

<div class="pro-header">My Projects</div>

<div class="pro-row">

  <div *ngFor="let pro of makProjects"
      class="pro-item"
      [style.backgroundImage]="'url('+ theseImages[pro.designId] +')'"
      [style.background-size]="'cover'" >

    <div class="pro-set">


      <div class="pro-name">NAME : {{pro.name}}</div>
      <div class="pro-dateCreated">DATE : {{pro.dateCreated | date}}</div>

      <div fxLayout="row" fxLayoutAlign="space-between" class="pro-icons">

        <div>
          <mat-icon style="cursor:pointer"
                    class="mr-10 ml-10"
                    matTooltip="Open in design studio"
                    [routerLink]="['/designStudio/project/'+pro.id]">
                    mode_edit
          </mat-icon>

          <mat-icon style="cursor:pointer"
                    class="mr-10 ml-10"
                    matTooltip="Open projects page"
                    [routerLink]="['/projects']">
                    build
          </mat-icon>

        </div>

        <div class="mr-20">
          <mat-icon style="cursor:pointer"
                    matTooltip="Delete this project"
                    (click)="deleteProject(pro)">
                      delete
          </mat-icon>
        </div>

      </div>

    </div>

  </div>  

</div>
