<div flex="100%"
     fxLayout="column"
     style="width:100%"
     *ngIf="currentProject">



  <h2 class="mt-32 mb-20"
      fxFlex="100%">
    Project Data -
    <mat-icon style="cursor:pointer"
          matTooltip="Open in design studio"
          [routerLink]="['/designStudio/project/'+currentProject.id]">
      color_lens
    </mat-icon>
  </h2>


  <!-- TOP ROW OF PROJECT DATA -->
  <div fxLayoutAlign="center" fxFlex="80%" fxOffset="10%">

    <div fxFlex="100%" fxLayout="column" class="text-center">

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Project Name</mat-label>
        <input matInput
              id="projectName"
              class="form-control"
              placeholder="Product Name"
              name="projectNameForm"
              [value]="currentProject['name']"
              (blur)="saveNameChange($event)"
              minlength="5"
              maxlength="150"
              required>
      </mat-form-field>


      <mat-form-field style="min-height:190px" appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Project Description</mat-label>
        <textarea style="min-height:190px"
              matInput
              id="projectDescription"
              placeholder="Product Description"
              [value]="currentProject['description']"
              (blur)="saveDescChange($event)"
              rows="5"
              required
              minlength="25">
        </textarea>
      </mat-form-field>


    </div>

  </div>

</div>
