<div class="marketplaceitem"
    [ngClass]="si.category"
    fxFlex="100"
    fxFlex.gt-sm="33"
    *ngIf="(si.category==selectedType || selectedType=='All') && si.status=='1'">


  <div style="position:relative;top:10px; left:10px; height:0px">
    <mat-icon *ngIf="signoffs.includes(si.id)"
              style="cursor:pointer"
              matTooltip="You have sign off permissions">
      assignment_turned_in
    </mat-icon>
  </div>

  <a [routerLink]="'/marketplace/' + si.id + '/' + si.title">

  <div class="marketplaceitem-content"
       fxLayout="column"
       fxFlex="1 1 auto"
       *ngIf="images">

    <ng-container *ngFor="let image of images">

      <div class="content"
          fxLayout="column"
          fxLayoutAlign="center right"
          fxFlex="1 1 auto"
          *ngIf="(image.itemId==si.id) && (image.mainImage)"
          [style.background]="'url(' + image.imageURL + ')'" >

        <div style="background-color:#ccc; width:60%; padding:5px 10px">
          <div class="h1 siTitle">{{si.title}}</div>
          <div class="description">{{si.company.name}}</div>
        </div>
      </div>

    </ng-container>

  </div>

  </a>

</div>
