
<div id="marketplace-product" class="page-layout simple fullwidth">


  <div class="header accent p-24 white-text" fxLayout="row" fxLayoutAlign="start center">
		<button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/catalog'">
			<mat-icon>arrow_back</mat-icon>
		</button>
		<h4>Back to marketplace</h4>
	</div>


  <ng-template #Loading><h1>Loading</h1></ng-template>

  <mak-product-display-main *ngIf="(makDesign$ | async) && (makProjects$ | async)"
                            [makDesign]="(makDesign$ | async)"
                            [makProjects]="(makProjects$ | async)"
                            [userData]="userData"
                            [images]="images">
  </mak-product-display-main>

</div>
