
<!-- Related Rows
============================================= -->
<section id="relatedRow" class="section nopadding nomargin dark">

  <div class="container-wide relatedBreak"
       fxLayout="row">

    <div class="nomargin nopadding relatedBreak"
         style="background: url({{image1}}) bottom center no-repeat; background-size: cover; width:50%"
         fxFlex="50%">

      <div class="section nomargin" style="background: #00000040 0% 0% no-repeat padding-box; height:100%">

        <div class="relatedTitle">Related</div>

        <div class="relatedText">{{title1}}</div>

        <div class="relatedButton"><a [href]="link1">{{link1text}}</a></div>

      </div>

    </div>


    <div class="nomargin nopadding relatedBreak col_last"
         style="background: url({{image2}}) bottom center no-repeat; background-size: cover; width:50%"
         fxFlex="50%">

      <div class="section nomargin" style="background: #00000040 0% 0% no-repeat padding-box; height:100%">

        <div class="relatedTitle">Related</div>

        <div class="relatedText">{{title2}}</div>

        <div class="relatedButton"><a [href]="link2">{{link2text}}</a></div>

      </div>

    </div>

  </div>

</section>

