
<!--

	This is the dialog that lets the user set the specifics for how a submenu
	will appear on the design studio.

-->

<div class="dialog-content-wrapper">

	<div class="dialog-content">

	    <mat-toolbar class="mat-accent m-0">
	        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
	            <span class="title dialog-title">Edit Submenu</span>
	            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
	                <mat-icon>close</mat-icon>
	            </button>
	        </mat-toolbar-row>
	    </mat-toolbar>




	    <!-- The shape diver label -->
	    <div mat-dialog-content class="p-25 m-0">
			<mat-form-field appearance="outline" floatLabel="always" class="w-80-p">
				<mat-label>Submenu Label</mat-label>
				<input matInput placeholder="Submenu Label"
					   name="submenuLabel"
					   [(ngModel)]="data.currentDesign.parameterMenus[data.i]['label']"
					   required>
			</mat-form-field>
	    </div>




		<!-- The Icon for the submenu -->
		<div style="max-height=200px">
			<h3 class="text-center">Icon for submenu</h3>
		    <mat-grid-list cols="6" rowHeight="45px">
		    	<mat-grid-tile
		        	*ngFor="let icon of data.iconOptions; index as x"
		        	[colspan]="1"
		        	[rowspan]="1"
		        	(click)="data.currentDesign.parameterMenus[data.i]['icon']=icon" >
		        	<mat-icon>{{icon}}</mat-icon>
		    	</mat-grid-tile>
		    </mat-grid-list>
		</div>

	</div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button
                    color="accent"
                    (click)="dialogRef.close(data.currentDesign)"
                    class="save-button"
                    aria-label="Save Changes">
                SAVE CHANGES
            </button>

        </div>

        <button mat-icon-button (click)="dialogRef.close()"
                aria-label="Cancel"
                matTooltip="Cancel">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

</div>
