


.submenu-dialog {
  width:600px;


  .mat-dialog-content {
    padding:40px 0px 0px 0px;
    width:80%;
    margin:auto;    
    }

    .mat-dialog-actions {
        padding:20px 20px 20px 20px;
        width:100%;
        margin:auto;
        border-top:1px solid #ccc;
    }

  .mat-dialog-container {
        padding: 0;

        .compose-form {

            .mat-form-field {
                width: 80%;
            }

            .show-hide-extra-fields {
                text-align: right;
                cursor: pointer;
                font-size: 12px;
            }

            .attachment-list {
                font-size: 13px;

                .attachment {
                    border: 1px solid;
                    border-radius: 20px;
                    padding-left: 16px;
                    margin-top: 8px;

                    .filename {
                        font-weight: 600;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}
