
<!--

    This page holds the menus that are moved around to create the parameter menus for the design.
    The first section holds the column headers that can be dragged around to change the order of the
    menus. The second one holds the individual menu items that can either be moved around within the
    menu or moved to another menu.

-->



<div fxLayout="column"
     fxFlex="100%"
     style="width:100%"
     *ngIf="currentDesign!==undefined">


<h2 class="mt-32 mb-20">Design Parameters</h2>


<div fxFlex="100%" class="mr-52">
   <div class="mt-20 mat-subheading-2" style="color:#898989">The list below holds the items that will be displayed as
    icons and have submenus. For each design, there is an initial menu where the user can pick a different design and a
    final menu that displays the cost. Click on the green plus to add a new submenu and then add individual items and
    move them from menu to menu.</div>
</div>


<div fxFlex="100%">

   <button mat-raised-button
           color="primary"
           class=""
           aria-label="Add new submenu"
           style="width:40%; margin:40px 30%"
           (click)="addSubmenu();" >
         Add New Submenu
   </button>

</div>

<div fxFlex="100%">

   <div class="example-container"
        fxLayout="row" >

      <!-- Headers for each column-->
      <div
           cdkDropList
           cdkDropListOrientation="horizontal"
           class="example-list-hor"
           [cdkDropListData]="currentDesign['parameterMenus']"
           (cdkDropListDropped)="drop($event)">

        <div class="example-box-hor pt-15 pb-15"
              fxLayout="row"
              *ngFor="let item of currentDesign['parameterMenus']; index as i" cdkDrag>

          <div class="menuDelete">
            <mat-icon class="ml-20"
                      style="position:relative; top:5px"
                      (click)="currentDesign['parameterMenus'].splice(i, 1);">
                cancel
            </mat-icon>
          </div>

          <div class="menuIcon"><mat-icon>{{item.icon}}</mat-icon></div>
          <div class="menuName">{{item.label}}</div>

          <div fxLayout="row" class="">
            <button mat-icon-button color="primary"
                    class="add_button"
                    aria-label="Add new parameter"
                    (click)="addMenuItem(i);" >
                  <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-icon-button aria-label="" (click)="openSubmenuDialog(i);" >
                <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </div>


   </div>


   <!-- List of Menus -->
   <div cdkDropListGroup class="" >

       <div fxLayout="row" style="margin-bottom:40px; flex-flow:row wrap">

           <div class="example-container"
                *ngFor="let menuItem of currentDesign['parameterMenus']; index as i">

               <div class="example-container"
                    fxLayout="column">

                   <div class="example-container"
                        fxLayout="column">

                       <div cdkDropList
                            #paramList[i]="cdkDropList"
                            [cdkDropListData]="menuItem['parameters']"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)">

                          <div class="example-box"
                               *ngFor="let parameter of menuItem.parameters, index as j"
                               cdkDrag
                               fxLayout="column">


                            <!-- Top row with delete and dots -->
                            <div fxLayout="row"
                                fxFlex="100%"
                                style="width:100%"
                                fxLayoutAlign="space-between">
                              <div class="menuDelete">
                                <mat-icon class="ml-20"
                                          style="position:relative; top:5px"
                                          (click)="menuItem.parameters.splice(j, 1);">
                                    cancel
                                </mat-icon>
                              </div>
                              <button mat-icon-button aria-label="" (click)="openDialog(i, j);" >
                                <mat-icon>more_vert</mat-icon>
                              </button>
                            </div>

                            <mak-parameter-slider [parameter]="parameter"></mak-parameter-slider>
                            <mak-parameter-select [parameter]="parameter"></mak-parameter-select>
                            <mak-parameter-text [parameter]="parameter"></mak-parameter-text>
                            <mak-parameter-color [parameter]="parameter"></mak-parameter-color>
                            <mak-parameter-image [parameter]="parameter" [parameterUrls]="parameterUrls" [i]="i" [j]="j"></mak-parameter-image>
                            <mak-parameter-toggle [parameter]="parameter"></mak-parameter-toggle>
                            <mak-parameter-bloc [parameter]="parameter"></mak-parameter-bloc>
                            <mak-parameter-upload [parameter]="parameter"></mak-parameter-upload>

                           </div>

                       </div>

                   </div>

               </div>

           </div>

       </div>

   </div>

</div>
<!-- / List of menus -->

</div>
