		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark nomargin" style="background-color:#696969;">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

        <div class="container clearfix"
             fxLayout="row">


          <div fxFlex="50%"
               fxLayout="row">

            <div class="footerText"
                 fxFlex="30%">
							&copy; 2020 Mak Studio, Inc<br>
							All Rights Reserved
						</div>

            <div class="footerText"
                 fxFlex="30%">
							305 Velasco St.<br>
							Houston, TX 77003
						</div>

						<div class="footerText"
                 fxFlex="30%">
							info@makstudio.us<br>
							713.505.1234
						</div>

					</div>



          <div class="tright"
               fxFlex="50%">

            <div class=""
                 fxLayout="row">

              <a mat-icon-button
                 class="social-icon si-small si-borderless"
                 matTooltip="Go to Facebook"
                 href="https://www.facebook.com/makstudiotx/">

                 <mat-icon class="footer-links">
                    facebook
                 </mat-icon>

              </a>

              <i class="fa fa-cog fa-spin"></i>

              <a mat-icon-button
                 class="social-icon si-small si-borderless"
                 matTooltip="Go to Facebook"
                 href="https://www.instagram.com/makstudio_us/?hl=en">

                 <mat-icon class="footer-links">
                    instagram
                 </mat-icon>

              </a>

              <a mat-icon-button
                 class="social-icon si-small si-borderless"
                 matTooltip="Go to Facebook"
                 href="https://www.linkedin.com/company/m%C4%81k-studio/">

                 <mat-icon class="footer-links">
                    linkedin
                 </mat-icon>

              </a>


              <!--

              <a href="https://www.instagram.com/makstudio_us/?hl=en" class="social-icon si-small si-borderless si-instagram">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>

							<a href="https://www.linkedin.com/company/m%C4%81k-studio/" class="social-icon si-small si-borderless si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>

							<a href="https://www.facebook.com/makstudiotx/" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
              </a>
              -->

						</div>

						<div class="clear"></div>


					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

