<mak-hf-topimage></mak-hf-topimage>

<mak-hf-brand></mak-hf-brand>

<mak-hf-followup></mak-hf-followup>

<mak-related-row [title1]="'Walls with sensory experience.'"
                 [link1text]="'Explore Walls'"
                 [link1]="'/walls'"
                 [image1]="'https://makstudio.s3.us-east-2.amazonaws.com/Our+Work+-+Jacob+White/blueBackground.png'"
                 [title2]="'Landmarks and memorable moments.'"
                 [link2text]="'Explore Our Work'"
                 [link2]="'seating'"
                 [image2]="'https://makstudio.s3.us-east-2.amazonaws.com/Related/facet_wall_houston_first.jpg'">
</mak-related-row>

<mak-commercial-footer></mak-commercial-footer>
