
<mak-home-covid></mak-home-covid>

<mak-home-slider></mak-home-slider>

<div fxLayout="row">
  <div fxFlex="50%">
    <mak-home-square title="FEATURE WALLS"
                     text="From features to accents, our walls are designed to impress."
                     bgimage="https://makstudio.s3.us-east-2.amazonaws.com/Homepage/flower_solid_surface_feature_wall.jpg"
                     link="/walls">
    </mak-home-square>
  </div>
  <div fxFlex="50%">
    <mak-home-square title="RECEPTION DESKS"
                     text="Make the most of your reception area with desks that fit perfectly."
                     bgimage="https://makstudio.s3.us-east-2.amazonaws.com/Homepage/Product+Images/lobby_reception_desk_nova_chem.jpg"
                     link="/desks">
    </mak-home-square>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="50%">
    <mak-home-square title="SEATING"
                     text="Customized seating products to suit any environment."
                     bgimage="https://makstudio.s3.us-east-2.amazonaws.com/Homepage/Product+Images/lobby_bench_alley.jpg"
                     link="/seating">
    </mak-home-square>
  </div>
  <div fxFlex="50%">
    <mak-home-square title="ISLANDS"
                     text="Bring it all together with communal pieces meant to be shared."
                     bgimage="https://makstudio.s3.us-east-2.amazonaws.com/Homepage/Product+Images/breakroom_island_firmspace.jpg"
                     link="/islands">
    </mak-home-square>
  </div>
</div>

<mak-home-about></mak-home-about>

<mak-commercial-footer></mak-commercial-footer>
