


<!-- Slider
============================================= -->
<section id="mainLobby" class="slider-element full-screen" style="background: url('https://makstudio.s3.us-east-2.amazonaws.com/seating/seating.png') bottom center no-repeat; background-size: cover;">

	<div class="full-screen section nopadding nomargin noborder " style="background: #00000040 0% 0% no-repeat padding-box;">

		<div class="container dark full-screen">

			<div class="vertical-middle">

				<div class="cardTitle">Seating</div>

				<div class="cardText">Choose from our growing<br>catalog of elastic geometries<br>to create custom seating.</div>

				<button type="button" class="cardButton">Scroll to Begin</button>

			</div>

		</div>

	</div>

</section><!-- #slider end -->







<!-- Slider
============================================= -->
<section id="cultureRow" class="section nobottompadding nobottommargin" style="background-color:#FFF">

	<div class="nopadding nomargin noborder">


    <div class="container clearfix whiteBreak pt-30 pb-30"
         fxLayout="row">

      <div fxFlex="10%">
        <div class="leftTitle">
          <div class="titleNumber">01</div>
        </div>
      </div>

      <div fxFlex="40%">
        <div class="titleLabel">Style</div>
        <div class="featureText">From simple shapes to complex and integrated arrangements, we guide you through options that will determine the appropriate style suited to your environment.</div>
      </div>

      <div fxFlex="50%">
        <div class="servicesGifBlock"><img class="w-100-p" src="https://makstudio.s3.us-east-2.amazonaws.com/seating/1.+Style.gif"></div>
      </div>
    </div>




    <div class="container clearfix whiteBreak pt-30 pb-30"
         fxLayout="row">

			<div fxFlex="10%">
				<div class="leftTitle">
					<div class="titleNumber">02</div>
				</div>
			</div>

			<div fxFlex="40%">
        <div class="titleLabel">Size</div>
				<div class="featureText">From freestanding seating for one person, to winding rows of fully integrated benches, we base our decision on size from the desired outcome expected use of space.</div>
      </div>

      <div fxFlex="50%">
				<div class="servicesGifBlock"><img class="w-100-p" src="https://makstudio.s3.us-east-2.amazonaws.com/seating/2.+Size.gif"></div>
      </div>
		</div>







    <div class="container clearfix whiteBreak pt-30 pb-30"
         fxLayout="row">

			<div fxFlex="10%">
				<div class="leftTitle">
					<div class="titleNumber">03</div>
				</div>
			</div>

			<div fxFlex="40%">
        <div class="titleLabel">Material & Color</div>
				<div class="featureText">Natural wood, stone, fabric, metal, or composite, we guide you through available options in material and colors to make a critical design decision tailored to your unique needs and budget.</div>
			</div>

      <div fxFlex="50%">
        <div class="servicesGifBlock"><img class="w-100-p" src="https://makstudio.s3.us-east-2.amazonaws.com/seating/3.+Material%26Color.gif"></div>
      </div>

    </div>











    <div class="container clearfix whiteBreak pt-30 mb-30 pb-30"
         fxLayout="row">

			<div fxFlex="10%">
				<div class="leftTitle">
					<div class="titleNumber">04</div>
				</div>
			</div>

			<div fxFlex="40%">
        <div class="titleLabel">Add Ons</div>
				<div class="featureText">Choose from a variety of opportunities including custom branding, integrated greenery, and unique machining and finishes that will take your design to the next level.</div>
			</div>

      <div fxFlex="50%">
				<div class="servicesGifBlock"><img class="w-100-p" src="https://makstudio.s3.us-east-2.amazonaws.com/seating/4.+Add+ons.gif"></div>
      </div>

    </div>

	</div>

</section>






<mak-related-row [title1]="'Wall surfaces designed to impress.'"
                 [link1text]="'Explore Walls'"
                 [link1]="'/walls'"
                 [image1]="'https://makstudio.s3.us-east-2.amazonaws.com/wallPanelRed.png'"
                 [title2]="'Desks designed with purpose.'"
                 [link2text]="'Explore Desks'"
                 [link2]="'desks'"
                 [image2]="'https://makstudio.s3.us-east-2.amazonaws.com/Related/desk_design_hive.jpg'">
</mak-related-row>


<mak-commercial-footer></mak-commercial-footer>
