<div class="ids" fxLayout="column">

  <div fxLayout="row" class="seller" fxLayoutAlign="start center">

      <div class="logo">
          <img src="assets/images/makTextBlack.png">
      </div>

      <div class="divider"></div>

      <div class="detail">
          <div class="title">MAK STUDIO</div>
          <div class="address">
              305 Velasco St.<br>
              Houston, TX 77003
          </div>
          <div class="phone">
              <span>Phone : 713.505.1234</span>
          </div>
          <div class="email">
              <span>Email : info@makstudio.us</span>
          </div>
          <div class="website">
              <span>Web : www.makstudio.us</span>
          </div>
      </div>
  </div>

</div>
