<h2 class="mt-32 mb-20">General Design Data</h2>


<form [formGroup]="dataform">

	<!-- THE DESIGN NAME -->
	<mat-form-field appearance="outline"
									floatLabel="always"
									class="w-100-p form-group">
			<mat-label>Design Name</mat-label>
			<input type="text"
							class="form-control"
							matInput
							[value]="currentDesign.title"
							formControlName="designTitle"
							(blur)="saveNameChange($event)">
	</mat-form-field>

	<div *ngIf="title.touched && title.invalid && !title.pristine">

		<div *ngIf="title.errors.minlength"
				 class="alert alert-danger mb-20">
					Design name is required with at least 5 characters
		</div>
		<div *ngIf="title.errors.cannotContainSpecialChars"
				 class="alert alert-danger mb-20">
					The name of the design cannot contain special characters
		</div>

	</div>



	<!-- THE DESIGN DESCRIPTION -->
	<mat-form-field style="min-height:190px"
									appearance="outline"
									class="w-100-p form-group">
		<mat-label>Design Description</mat-label>
		<textarea style="min-height:190px"
								matInput
								class="form-control"
								formControlName="designDesc"
								[value]="currentDesign.description"
								(blur)="saveDescChange($event)">
		</textarea>
	</mat-form-field>

	<div *ngIf="desc.touched && desc.invalid && !desc.pristine">

		<div *ngIf="desc.errors.minlength"
					class="alert alert-danger mb-20">
					Project name is required with at least 25 characters
		</div>
		<div *ngIf="desc.errors.cannotContainSomeSpecialChars"
					class="alert alert-danger mb-20">
					The description of the project cannot contain special characters other than periods and commas
		</div>

	</div>


</form>
