

<mak-contact-top-image></mak-contact-top-image>

<mak-contact-form></mak-contact-form>

<mak-related-row [title1]="'Walls with sensory experience.'"
                 [link1text]="'Explore Walls'"
                 [link1]="'/walls'"
                 [image1]="'https://makstudio.s3.us-east-2.amazonaws.com/wallPanelPenrose.png'"
                 [title2]="'Comfortable, custom seating.'"
                 [link2text]="'Explore Seating'"
                 [link2]="'seating'"
                 [image2]="'https://makstudio.s3.us-east-2.amazonaws.com/Our+Work+-+Arm+Technologies/lobby_bench_arm_detailed.jpg'">
</mak-related-row>


<mak-commercial-footer></mak-commercial-footer>
