<div id="store-product" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/store'">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>Back to store</h2>
    </div>
    <!-- / HEADER -->

    <ng-template #Loading><h1>Loading</h1></ng-template>

    <!-- CONTENT -->
    <div class="content p-24" *ngIf="dataFlag else Loading">

        <div style="width:90%; margin:0px 5%;">

            <div fxLayout="row" fxLayoutAlign="center" flex="100%">

                <!-- STORE DATA -->
                <div fxLayout="column" 
                     class="mt-32"
                     flex="45%"
                     style="width:40%; margin:0px 5%">


                    <div class="itemTypeText">{{storeItem.category}}</div>


                    <div class="mat-display-2 itemTypeTitle">{{storeItem.title}}</div>


                    <div class="mat-title itemDescription">{{storeItem.marketplace.description}}</div>


                    <div class="itemCompanySection" fxLayout="row">

                        <img class="itemCompanyLogo" [src]="storeItem.company.logo">

                        <div class="itemCompanyDetails" fxLayout="column">

                            <div class="mat-title itemCompanyName">{{storeItem.company.name}}</div>
                            <div class="mat-subheading-1 itemCompanyLocation">{{storeItem.company.location}}</div>

                        </div>

                    </div>


                    <mat-divider></mat-divider>

                    <div fxFlex="100"
                         fxAlign="center center"
                         *ngIf="projectDataFlag">

                        <div *ngIf="projectList.length==0">
                            <h2>You have no projects using this design</h2>
                        </div>


                        <div *ngIf="projectList.length>0"
                             fxAlign="center center"
                             fxFlex="100">

                            <h2>You have {{projectList.length}} projects using this design</h2>

                            <div *ngFor="let pi of projectList"
                                 fxLayout="row"
                                 style="cursor:pointer"
                                 [routerLink]="['/designStudio/project/'+pi.uid]">
                                <div fxFlex="40">{{pi.name}}</div>
                                <!-- <div fxFlex="40">{{pi.dateCreated.toDate() | date:'fullDate'}}</div> -->
                                <div fxFlex="40">{{pi.dateCreated | date:'short'}}</div>
                                <mat-icon style="cursor:pointer" 
                                          matTooltip="Open in design studio"
                                          [routerLink]="['/designStudio/project/'+pi.uid]">
                                    color_lens
                                </mat-icon>
                                <mat-icon style="cursor:pointer" 
                                          matTooltip="Open projects"
                                          [routerLink]="['/products']">
                                    today
                                </mat-icon>

                            </div>
                        </div>
                    </div>


                    <button mat-button 
                            class="primary mt-40"
                            id="addProjectButton"
                            (click)="addProject(storeItem)"
                            *ngIf="userData !== undefined">
                        ADD AS NEW PROJECT
                    </button>
 

                    <button mat-stroked-button 
                            class="mt-40"
                            color="accent"
                            id="viewDesignStudioButton"
                            [routerLink]="'/designStudio/design/'+storeItem.uid">
                        VIEW DESIGN IN STUDIO
                    </button>



                </div>
                <!--/  STORE DATA -->



                <!-- IMAGES -->
                <div fxLayout="column" 
                     class="mt-32"
                     flex="45%"
                     style="width:40%; margin:0px 5%">


                    <mat-grid-list cols="2" rowHeight="2:1">
                        <mat-grid-tile *ngFor="let thisImage of storeItem.imageUrls; index as i">
                            <img [src]="(thisImage | async)" width="300">
                        </mat-grid-tile>
                    </mat-grid-list>


                    <!-- <carousel [thisitem]="storeItem"></carousel> -->

                </div>
                <!--/  IMAGES -->

            </div>


        </div>

    </div>
    <!-- / CONTENT -->

</div>
