
<!-- Slider
============================================= -->
<section id="cultureRow" class="section nobottompadding nobottommargin" style="background-color:#FFF">

	<div class="nopadding nomargin noborder">

		<div class="container clearfix whiteBreak">

			<div fxFlex="30%" class="mb-50">

				<div class="leftTitle">A culture of<br>collaboration and<br>innovation</div>

			</div>


			<div fxFlex="70%" class="mb-50">

				<div class="rightText">We are a diverse team of professionals made up of architects, interior designers, industrial designs and master carpenters who love to tackle the hard projects. We are proud to make design happen for these and many other clients, in the highest quality, on time and on budget.</div>

			</div>

		</div>

	</div>

</section>


