

<!--


	This is the page for the design signoffs. From time to time, it is necessary 
	for Mak or someone else to have a design that is signed off by another user.
	This is likely an owner of the product at hand. All back and forth between the 
	users should be done prior to the design going live.

	The page simply shows the previous sign off statements and offers a place for
	a user to add a new sign off. A sign off is simply comments as well as a
	setting for approved or not.

	This page therefore serves both as a record place of previous sign offs as
	well as a place to add new ones. 

	Signing off the design includes the appearance of the design in the studio.

	Signing off the design does not make it go live.

-->


<div id="signoff" 
	 style="background-color:#FFF" 
	 class="page-layout simple inner-scroll">


	<!-- CONTENT -->
	<div class="content">


		<!-- CENTER -->
		<div class="center p-24" 
			 fusePerfectScrollbar
			 fxLayout="column">



			<div class="mat-headline text-center mt-40 pb-8">
				Signoffs for {{designData.title}}
			</div>




			<!-- CONTENT -->
			<div fxLayout="row"
				 fxFlex="80%"
				 style="margin:0px 10%">


				<!-- Users with signoff -->
				<div fxFlex="30%" 
					 style="margin:0px 5%"
					 fxLayout="column">


					<h2 class="mt-32 mb-8 ">Users that have signoff privileges</h2>

					<mat-divider></mat-divider>

					<div *ngFor="let signoff of signoffReqList"
						 fxLayout="row"
						 class="text-center w-300 mt-12 mb-8"
						 style="margin:auto">

						<img class="profileAvatar avatar" 
							 [src]="(signoff.userImage  | async)">

						<div class="mt-8 ml-20 w-220 text-center">{{signoff.userEmail}}</div>
					
					</div>

				</div>



					
				<!-- Add new signoff -->
				<div *ngIf="signoffReq"
					 fxFlex="50%"
					 style="margin:0px 5%"
					 fxLayout="column">


					<h2 class="mt-32 mb-8 ">Add New Signoff</h2>

					<mat-divider></mat-divider>

					<div fxLayout="column"
						 class="mt-40"
						 fxLayoutAlign="center center">

						<!-- Select the status of the signoff -->
						<mat-form-field appearance="outline"
										floatLabel="always"
										class="w-70-p"
										name="approveStatus"
										style="">
							<mat-label>Select Status</mat-label>
							<mat-select [(ngModel)]="approveStatus">
								<mat-option [value]="1">Approved</mat-option>
								<mat-option [value]="0">Approved with Changes Noted</mat-option>
								<mat-option [value]="2">Revise and Resubmit</mat-option>
								<mat-option [value]="3">Rejected</mat-option>
							</mat-select>
						</mat-form-field>


						<!-- The comments -->
						<mat-form-field class="ml-32 w-70-p">
						  <mat-label>Comments on why the design was approved/disapproved</mat-label>
						  <textarea matInput
						            [(ngModel)]="signoffComments"
						            name="signoffComments"></textarea>
						</mat-form-field>

					</div>
					
					<!-- Button to save this data -->
					<div flex="100%">

						<div fxFlex="20" style="margin:20px auto">
							<button mat-stroked-button 
									class="primary" 
									(click)="createNewSignoff()">
								Save Signoff
							</button>
						</div>

					</div>


				</div>

			</div>



			<div fxLayout="column"
				 fxFlex="80%"
				 style="margin:0px 10%">


				<h2 class="mt-32 mb-20 ">Previous Signoff Statements</h2>

				<mat-divider></mat-divider>


				<div *ngIf="signoffList.length==0"
					 class="mt-20 mb-20">
					There are currently no signoff statements
				</div>


				<div fxLayout="column"
					 *ngIf="signoffList.length>0"
					 style="border-bottom:1px solid #ccc">

					<div *ngFor="let signoff of signoffList"
						 class="pt-20 pb-8"
						 style="border-bottom:1px solid #ccc;"
						 fxLayout="row">

						<div class="mat-subheading-2 w-28">
							<mat-icon *ngIf="signoff.approve==0" mat-tooltip="Design Not Approved">cancel</mat-icon>
							<mat-icon *ngIf="signoff.approve==1" mat-tooltip="Design Approved">check_circle</mat-icon>
							<mat-icon *ngIf="signoff.approve==2" mat-tooltip="Design Approved with Comments">check_circle</mat-icon>
						</div>

						<div class="mat-subheading-2 w-200">
								{{ signoff.dateCreated | date:'short' }} 
						</div>


						<div class="w-40">
							<img class="profileAvatar avatar" 
								 [src]="(signoff.userImage | async)">
						</div>

						<div class="ml-20 w-200 text-center">
							<div class="">{{signoff.creatorEmail}}</div>
						</div>


						<div class="mat-body-1" > 
							{{ signoff.comments }}
						</div>

					</div>


				</div>

			</div>
			<!-- / CONTENT -->

		</div>
		<!-- / CENTER -->

	</div>
	<!-- / CONTENT -->

</div>
