
<div id="chat" class="page-layout carded fullwidth inner-scroll">

  <div class="top-bg accent"></div>

  <div class="center">

    <div class="content-card">


        <mat-sidenav-container>

          <mat-sidenav class="sidenav" position="start" opened="true" mode="side"
                        matIsLockedOpen="gt-md">
              <chat-left-sidenav></chat-left-sidenav>
          </mat-sidenav>


          <chat-view></chat-view>


          <mat-sidenav class="sidenav" position="end" opened="false" mode="over"
                        >
              <chat-right-sidenav></chat-right-sidenav>
          </mat-sidenav>


        </mat-sidenav-container>



    </div>

  </div>

</div>
