<div flex="100%"
     layout="column"
     style="width:100%"
     *ngIf="currentDesign">


    <div fxLayout="row"
        fxLayoutAlign="center"
        flex="100%">

    <div fxFlex="45%"
            fxLayout="column"
            class="text-center"
            style="margin-right:5%">

      <mak-design-data-nd [currentDesign]="currentDesign"
                          (updateDesign)="updateDesign.emit($event)">
      </mak-design-data-nd>

      <mak-design-sd [currentDesign]="currentDesign"
                     (updateDesign)="updateDesign.emit($event)">
      </mak-design-sd>

      <mak-design-status [currentDesign]="currentDesign"
                         (updateDesign)="updateDesign.emit($event)">
      </mak-design-status>

      <mak-design-signoffsOnOff [currentDesign]="currentDesign"
                                (updateDesign)="updateDesign.emit($event)">
      </mak-design-signoffsOnOff>

    </div>


    <div fxFlex="45%"
            fxLayout="column"
            class="text-center"
            style="margin-right:5% form-group">

      <mak-design-category [currentDesign]="currentDesign"
                           (updateDesign)="updateDesign.emit($event)">
      </mak-design-category>

      <mak-design-company [currentDesign]="currentDesign"
                           (updateDesign)="updateDesign.emit($event)">
      </mak-design-company>


      <mak-design-images [currentDesign]="currentDesign"
                          (updateDesign)="updateDesign.emit($event)">
      </mak-design-images>

    </div>

  </div>

</div>
