<div id="projects" style="background-color:#FFF" class="page-layout simple inner-scroll">

	<!-- HEADER -->
	<div class="header accent" fxLayout="row"></div>
	<!-- / HEADER -->

	<!-- CONTENT -->
	<div class="content">

		<!-- SIDEBAR --
		<fuse-sidebar class="sidebar left-positioned open locked-open" 
					  name="simple-left-sidebar-4" position="left" lockedOpen="gt-md">

			<!-- SIDEBAR CONTENT --
			<div class="content p-24" fusePerfectScrollbar>
				<div class="demo-sidebar text-center ml-20">
					<mat-list class="" style="">

						<h2 style="color:#777;">My Projects</h2>

						<mat-list-item *ngFor="let project of productsData;" style="padding:0px !important">
							<span (click)="currentProject=project; 
								 			currentVersion=currentProject.versions[currentProject.versions.length-1]; 
								 			currentProject.currentVersionId=currentProject.versions[currentProject.versions.length-1].id"
								  [ngClass]="{'currentItem' : project==currentProject}"
								  style="font-size:1em; padding:5px 0px;">{{project.name}}</span>
						</mat-list-item>

						<mat-divider class="mt-12 mb-12" style="color:#000"></mat-divider>

					</mat-list>
				</div>
			</div>
			<!-- / SIDEBAR CONTENT --

		</fuse-sidebar>
		<!-- / SIDEBAR -->

		<!-- CENTER -->
		<div class="center p-24" fusePerfectScrollbar>

			<!-- CONTENT -->
			<div class="content p-24" style="box-shadow:0px 0px 0px rgba(0,0,0,0) !important;">

				<mat-tab-group fxFlex="80%"
							   style="margin:0px 10%">
					
					<mat-tab label="Project Selection">


						<div fxFlex="80%" 
							 fxLayout="column"
							 style="margin:0px 10%">

							<h1 class="mt-32 mb-20">Select a Project</h1>

							<mat-divider></mat-divider>


							<div *ngIf="(projectList | async)?.length==0">You currently have no designs. Go to the marketplace and select a design to add to your list of projects.</div>

							<table class="displayTable">


							    <tr	(click)="currentProject=project; getVersions( currentProject.uid ); getDesign( currentProject.designId ) "
							       target="_blank"
							       [ngClass]="{'currentItem' : project==currentProject}"
							       *ngFor="let project of projectList">

							    	<td class="mat-subheading-2" style="width:35%">{{ project.name }} 
										<mat-icon style="cursor:pointer" 
		                                          matTooltip="Open in design studio"
		                                          [routerLink]="['/designStudio/project/'+project.uid]">
		                                    color_lens
		                                </mat-icon>
							    	</td>

							    	<td class="mat-body-1" style="color:#898989"> 
							    		<span style="font-weight:bold; margin-right:10px;">Type : {{project.designType}}</span> 
										<span style="font-weight:bold; margin-right:10px;">Versions : {{project.versions.length}}</span>
										{{ project.description }}
									</td>

								</tr>


							</table>

						</div>

					</mat-tab>


					<mat-tab label="Project Data" flex="100%">

						<div flex="100%" 
							 layout="column" 
							 style="width:100%"
							 *ngIf="currentProject !== undefined">

							<h2 class="mt-32 mb-20">
								Project Data -                     
									<mat-icon style="cursor:pointer" 
	                                          matTooltip="Open in design studio"
	                                          [routerLink]="['/designStudio/project/'+currentProject.uid]">
	                                    color_lens
	                                </mat-icon>

							</h2>
					  

							<!-- TOP ROW OF PROJECT DATA -->
							<div fxLayout="row" fxLayoutAlign="center" flex="100%">

								<div fxFlex="50%"fxLayout="column" class="text-center">
									<mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
										<mat-label>Project Name</mat-label>
										<input matInput
											   class="form-control" 
											   placeholder="Product Name"
											   name="projectName"
											   #projectName="ngModel"
											   [(ngModel)]="currentProject['name']"
											   (blur)="changesExist=true"
											   minlength="5"
											   maxlength="150"
											   required>
									</mat-form-field>

									<div [hidden]="projectName.valid || projectName.pristine || !projectName.errors?.minlength"
									     class="alert alert-danger">
										Project name is required with at least 5 characters
									</div>
											

									<mat-form-field style="min-height:190px" appearance="outline" floatLabel="always" class="w-100-p">
										<mat-label>Project Description</mat-label>
										<textarea style="min-height:190px"
												  matInput 
												  placeholder="Product Description"
												  name="description"
												  #projectDescription="ngModel"
												  [(ngModel)]="currentProject['description']"
												  (blur)="changesExist=true"
												  rows="5"
												  required
												  minlength="25">
										</textarea>
									</mat-form-field>

									<div [hidden]="projectDescription.valid || projectDescription.pristine || !projectDescription.errors?.minlength"
									     class="alert alert-danger">
										Project description is required with at least 25 characters
									</div>


								</div>


								<div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">

									<div fxFlex="80" style="margin:0px 10%">
										<img [src]="(designImageUrl | async)">
									</div>


									<div fxLayout="row" 
										 fxLayoutAlign="center" 
										 class="w-80-p">
										<button mat-raised-button 
												color="primary"
												*ngIf="changesExist"
												(click)="saveProject(); changesExist=false;"
												style="margin:10px 25%; width:50%">
											Save Project Changes
										</button>
									</div>
								
								</div>

							</div>

						</div>
						<!-- / TOP ROW OF PROJECT DATA -->
					  	
					</mat-tab>









					<mat-tab label="Version Data">


						<div layout="column" 
							 flex="100%" 
							 style="width:100%"
							 *ngIf="currentProject !== undefined">

							<h2 class="mt-32 mb-20">Version Data</h2>


							<div fxLayout="row" fxLayoutAlign="center" flex="100%">

								<div fxFlex="40" style="margin:0px 5%">
									<mat-form-field class="w-100-p ml-10-p mt-20 form-group">
									  <mat-label>Select a version to see the details</mat-label>
									  <mat-select  (selectionChange)="onVersionSelected(versionIndex)"
												   name="versionIndex"
												   #name="ngModel"
												   [(ngModel)]="versionIndex">
										<mat-option *ngFor="let version of versionList; index as i" [value]="i">
										  {{i+1}} - {{version.name}}
										</mat-option>
									  </mat-select>
									</mat-form-field>
								</div>


								<div fxLayoutAlign="center center" fxFlex="40" style="margin:0px 5%">
									<button mat-button class="red-900 mt-8" *ngIf="currentVersion.latest">Submit for purchase</button>
									<button mat-button class="primary mt-8" *ngIf="!currentVersion.latest">Recreate as latest version</button>	
								</div>


							</div>


							<div fxLayout="row" fxLayoutAlign="start" flex="100%">

								<div fxFlex="20" style="margin:20px 5%">
									<button mat-stroked-button 
											color="accent"
											(click)="createNewVersion('latest')">
										New version (identical to latest)
									</button>
								</div>
								<div fxFlex="20" style="margin:20px 5%">
									<button mat-stroked-button 
											color="accent"
											(click)="createNewVersion('default')">
										New version (default)
									</button>
								</div>

							</div>


							<div fxLayout="row" fxLayoutAlign="center" flex="100%">

								<!-- VERSIONS DATA -->
								<div fxLayout="column" 
									 class="mt-32"
									 flex="45%"
									 style="width:40%; margin:0px 5%">

									<h3>Data</h3>

									<div fxLayout="row"
										 class="mt-20 mb-32">
										<div fxFlex="50">
											Estimated price - {{currentVersion.price}}
										</div>
										<div fxFlex="50">
											Date Created - {{currentVersion.dateCreated}}
										</div>
									</div>


									<mat-form-field appearance="outline" 
													floatLabel="always" 
													class="w-100-p">
										<mat-label>Version Name</mat-label>
										<input matInput 
											   class="form-control"
											   placeholder="Version Name"
											   name="vName"
											   #versionName="ngModel"
											   (blur)="versionChangesExist=true"
											   [(ngModel)]="currentVersion.name"
											   required
											   minlength="5"
											   maxlength="150">
									</mat-form-field>

									<div [hidden]="versionName.valid || versionName.pristine || !versionName.errors?.minlength"
									     class="alert alert-danger">
										Version name is required with at least 5 characters
									</div>


									<mat-form-field appearance="outline" 
													floatLabel="always" 
													class="w-100-p">
										<mat-label>Version Description</mat-label>
										<textarea matInput 
												  placeholder="Version Description"
												  class="form-control"
												  name="versionDescription"
												  #versionDescription="ngModel"
												  (blur)="versionChangesExist=true"
												  [(ngModel)]="currentVersion.description"
												  rows="5"
												  required>
										</textarea>
									</mat-form-field>

									<div [hidden]="versionDescription.valid || versionDescription.pristine || !versionDescription.errors?.minlength"
									     class="alert alert-danger">
										Version description is required with at least 25 characters
									</div>

								</div>
								<!--/  VERSION DATA -->



								<!-- MEASUREMENT LIST -->
								<div fxLayout="column" 
									 class="mt-32"
									 flex="45%"
									 style="width:40%; margin:0px 5%">

									<div fxLayout="row" fxLayoutAlign="center" flex="100%">
										<button mat-raised-button 
												color="primary"
												*ngIf="versionChangesExist"
												(click)="saveVersion(); versionChangesExist=false;"
												style="margin:10px 15%; width:70%">
											Save Version
										</button>
									</div>

									 <h3>Measurements</h3>

									<table mat-table [dataSource]="currentVersion.measurements" 
										   class="mat-elevation-z8"
										   style="box-shadow:none;">

									  <ng-container matColumnDef="name">
										<th mat-header-cell *matHeaderCellDef> Name </th>
										<td mat-cell *matCellDef="let meas"> {{meas.name}} </td>
									  </ng-container>

									  <ng-container matColumnDef="value">
										<th mat-header-cell *matHeaderCellDef> Value </th>
										<td mat-cell *matCellDef="let meas"> {{meas.value}} </td>
									  </ng-container>

									  <tr mat-header-row *matHeaderRowDef="columnsToDisplayMeas"></tr>
									  <tr mat-row *matRowDef="let row; columns: columnsToDisplayMeas;"></tr>
									</table>

								</div>
								<!--/  MEASUREMENT LIST -->

							</div>

						</div>
					
					</mat-tab>







					<mat-tab label="Design and Purchase Status">  


						<div flex="100%" 
							 layout="column"
							 style="width:100%"
							 *ngIf="currentProject !== undefined">


							<h2 class="mt-32 mb-20">Design and Purchase Status</h2>


							<mat-vertical-stepper linear #stepper flex="100%">
							  <mat-step>
								  <ng-template matStepLabel>Design</ng-template>
									<h4>Submit design version to recieve an invoice and start the design process</h4>
							  </mat-step>
							  <mat-step>
								  <ng-template matStepLabel>Deposit</ng-template>
							  </mat-step>
							  <mat-step>
								<ng-template matStepLabel>Approval</ng-template>
							  </mat-step>
							  <mat-step>
								<ng-template matStepLabel>Fabrication</ng-template>
							  </mat-step>
							  <mat-step>
								<ng-template matStepLabel>Balance</ng-template>
							  </mat-step>
							  <mat-step>
								<ng-template matStepLabel>Delivery</ng-template>
							  </mat-step>
							  <mat-step>
								<ng-template matStepLabel>Feedback</ng-template>
							  </mat-step>
							</mat-vertical-stepper>
							<!-- / THE DESIGN STEP PROCESS -->

						</div>

					</mat-tab>
					  





				</mat-tab-group>


			</div>
			<!-- / CONTENT -->

		</div>
		<!-- / CENTER -->

	</div>
	<!-- / CONTENT -->

</div>
