<section id="brandSection" class="section notopmargin notoppadding" style="background-color:#FFFFFF">

	<div class="container clearfix">

		<div fxLayoutAlign="row">

			<div class="sectionLabel" fxFlex="30%">Results</div>

			<div fxFlex="70%" 
					 class="sectionText">
				A corporate interior created in collaboration with Belinda Bennett Interior Design, this innovative contracting firm created a welcoming corporate lobby with a unique branded logo wall.
			</div>

		</div>


		<div fxLayoutAlign="row" class="mt-50">

			<div fxFlex="30%">
				<button type="button" 
								class="ml-5 btn btn-primary scheduleButton" onclick="location.href='https://meetings.hubspot.com/polli';">Schedule a call</button>
			</div>


			<div fxFlex="70"
					 fxLayoutAlign="row">

				<div class="listTitle"
						 fxFlex="25%">Services
				</div>

				<div fxFlex="75%" class="listSection">
					
					<div class="listItem">Collaborative Planning</div>
					<div class="listItem">Design and Technical Assistance</div>
					<div class="listItem">Digital Fabrication</div>
					<div class="listItem">Installation</div>

				</div>

			</div>

		</div>



	</div>

</section>