<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit Bio</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" 
    	 fusePerfectScrollbar
    	 fxLayout="column"
    	 fxFlex="90%"
    	 style="margin:0px 5%"
    	 *ngIf="data['type']=='about'">

    	<!-- The gender -->
    	<h3>Gender</h3>
		<mat-form-field appearance="outline"
						floatLabel="always"
						class="w-100-p"
						name='gender'>
			<mat-label>Gender</mat-label>
			<mat-select  [(ngModel)]="data['userData']['info']['gender']">
				<mat-option value='Male'>Male</mat-option>
				<mat-option value='Female'>Female</mat-option>
			</mat-select>
		</mat-form-field>



    	<h3>Birth Date</h3>
		<div fxLayout="row">

	    	<!-- The birthdate -->
			<mat-form-field appearance="outline"
							floatLabel="always"
							class="w-30-p"
							style="margin-right:3%"
							name='bmonth'>
				<mat-label>Birth Month</mat-label>
				<mat-select  [(ngModel)]="data['userData']['info']['birthmonth']">
					<mat-option value="1">1</mat-option>
					<mat-option value="2">2</mat-option>
					<mat-option value="3">3</mat-option>
					<mat-option value="4">4</mat-option>
					<mat-option value="5">5</mat-option>
					<mat-option value="6">6</mat-option>
					<mat-option value="7">7</mat-option>
					<mat-option value="8">8</mat-option>
					<mat-option value="9">9</mat-option>
					<mat-option value="10">10</mat-option>
					<mat-option value="11">11</mat-option>
					<mat-option value="12">12</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="outline"
							floatLabel="always"
							class="w-30-p"
							style="margin-right:3%"
							name='bday'>
				<mat-label>Birth Day</mat-label>
				<mat-select  [(ngModel)]="data['userData']['info']['birthdate']">
					<mat-option value="1">1</mat-option>
					<mat-option value="2">2</mat-option>
					<mat-option value="3">3</mat-option>
					<mat-option value="4">4</mat-option>
					<mat-option value="5">5</mat-option>
					<mat-option value="6">6</mat-option>
					<mat-option value="7">7</mat-option>
					<mat-option value="8">8</mat-option>
					<mat-option value="9">9</mat-option>
					<mat-option value="10">10</mat-option>
					<mat-option value="11">11</mat-option>
					<mat-option value="12">12</mat-option>
					<mat-option value="13">13</mat-option>
					<mat-option value="14">14</mat-option>
					<mat-option value="15">15</mat-option>
					<mat-option value="16">16</mat-option>
					<mat-option value="17">17</mat-option>
					<mat-option value="18">18</mat-option>
					<mat-option value="19">19</mat-option>
					<mat-option value="20">20</mat-option>
					<mat-option value="21">21</mat-option>
					<mat-option value="22">22</mat-option>
					<mat-option value="23">23</mat-option>
					<mat-option value="24">24</mat-option>
					<mat-option value="25">25</mat-option>
					<mat-option value="26">26</mat-option>
					<mat-option value="27">27</mat-option>
					<mat-option value="28">28</mat-option>
					<mat-option value="29">29</mat-option>
					<mat-option value="30">30</mat-option>
					<mat-option value="31">31</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="outline"
							floatLabel="always"
							class="w-30-p"
							name='byear'>
				<mat-label>Birth Year</mat-label>
				<mat-select  [(ngModel)]="data['userData']['info']['birthyear']">
					<mat-option *ngFor="let year of [].constructor(100); let i = index">{{2010-i}}</mat-option>
				</mat-select>
			</mat-form-field>

		</div>


    	<!-- Locations -->
    	<h3>Locations</h3>
    	<button fxFlex="80%" 
    			style="margin:0px 10%;" 
    			mat-raised-button color="primary" 
    			(click)="data['userData']['info']['locations'].push('New Location')">
    		Add Location
    	</button>

   		<div fxFlex="100%"
   			 class="mt-20"
    		 *ngFor="let myloc of data['userData']['info']['locations']; index as i">


			<div fxLayout="row">

				<mat-form-field appearance="outline" 
								floatLabel="always" 
								class="w-100-p"
								fxFlex="80%"
								style="margin:0px 10% 0px 10%">
					<mat-label>Location</mat-label>
					<input matInput placeholder="Location"
						   [ngModel]="myloc"
						   required>
				</mat-form-field>

		        <button mat-icon-button (click)="data['userData']['info']['locations'].splice(i,1)"
		                matTooltip="Delete">
		            <mat-icon class="mt-16">cancel</mat-icon>
		        </button>

			</div>

		</div>





		<!-- THE ABOUT -->
    	<h3>About Me</h3>
		<mat-form-field style="min-height:190px" appearance="outline" floatLabel="always" class="w-100-p">
			<mat-label>About me</mat-label>
			<textarea style="min-height:190px"
					  matInput placeholder="About"
					  name="about"
					   [(ngModel)]="data['userData']['info']['about']"
					  rows="5">
			</textarea>
		</mat-form-field>
 


    </div>














    <div mat-dialog-content class="p-24 m-0" 
    	 fusePerfectScrollbar
    	 fxLayout="column"
    	 fxFlex="90%"
    	 style="margin:0px 5%"
    	 *ngIf="data['type']=='work'">



  		<div fxFlex="100%"
   			 class="mt-20">

			<mat-form-field appearance="outline" 
							floatLabel="always" 
							class="w-100-p"
							fxFlex="80%"
							style="margin:0px 10% 0px 10%">
				<mat-label>Occupation</mat-label>
				<input matInput placeholder="Occupation"
					   [ngModel]="data['userData']['info']['occupation']"
					   required>
			</mat-form-field>

		</div>





  		<div fxFlex="100%"
   			 class="mt-20">

			<mat-form-field appearance="outline" 
							floatLabel="always" 
							class="w-100-p"
							fxFlex="80%"
							style="margin:0px 10% 0px 10%">
				<mat-label>Skills</mat-label>
				<input matInput placeholder="Skills"
					   [ngModel]="data['userData']['info']['skills']"
					   required>
			</mat-form-field>

		</div>



    	<!-- Jobs -->
    	<h3>Jobs</h3>
    	<button fxFlex="80%" 
    			style="margin:0px 10%;" 
    			mat-raised-button color="primary" 
    			(click)="data['userData']['info']['jobs'].push({'title' : 'New Job', 'startdate':'2020', 'enddate':'Present'})">
    		Add Job
    	</button>

   		<div fxFlex="100%"
   			 class="mt-20"
   			 fxLayout="row"
    		 *ngFor="let myjob of data['userData']['info']['jobs']; index as i">


			<mat-form-field appearance="outline" 
							floatLabel="always" 
							class="w-100-p"
							fxFlex="30%"
							style="margin:0px 5% 0px 0%">
				<mat-label>Title</mat-label>
				<input matInput placeholder="Job"
					   [ngModel]="myjob.title"
					   required>
			</mat-form-field>

			<mat-form-field appearance="outline" 
							floatLabel="always" 
							class="w-100-p"
							fxFlex="30%"
							style="margin:0px 5% 0px 0%">
				<mat-label>Start Date</mat-label>
				<input matInput placeholder="Job"
					   [ngModel]="myjob.startdate"
					   required>
			</mat-form-field>

			<mat-form-field appearance="outline" 
							floatLabel="always" 
							class="w-100-p"
							fxFlex="30%"
							style="margin:0px 0% 0px 0%">
				<mat-label>End Date</mat-label>
				<input matInput placeholder="Job"
					   [ngModel]="myjob.enddate"
					   required>
			</mat-form-field>

		</div>



   	</div>










    <div mat-dialog-content class="p-24 m-0" 
    	 fusePerfectScrollbar
    	 fxLayout="column"
    	 fxFlex="100%"
    	 *ngIf="data['type']=='contact'">



		<!-- Address -->
    	<h3>Address</h3>
		<mat-form-field style="min-height:190px" appearance="outline" floatLabel="always" class="w-100-p">
			<mat-label>Address</mat-label>
			<textarea style="min-height:190px"
					  matInput placeholder="About"
					  name="about"
					   [(ngModel)]="data['userData']['info']['address']"
					  rows="5">
			</textarea>
		</mat-form-field>



    	<!-- Telephone Numbers -->
    	<h3 class="mt-52">Telephone Numbers</h3>
    	<button fxFlex="80%" 
    			style="margin:0px 10%;" 
    			mat-raised-button color="primary" 
    			(click)="data['userData']['info']['telephone'].push('123-456-7890')">
    		Add Telephone Number
    	</button>

   		<div fxFlex="100%"
   			 class="mt-20"
    		 *ngFor="let mynum of data['userData']['info']['telephone']; index as i">


			<mat-form-field appearance="outline" 
							floatLabel="always" 
							class="w-100-p"
							fxFlex="80%"
							style="margin:0px 10% 0px 10%">
				<mat-label>Telephone Numbers</mat-label>
				<input matInput placeholder="Numbers"
					   [ngModel]="mynum"
					   required>
			</mat-form-field>

		</div>





    	<!-- Websites -->
    	<h3>Websites</h3>
    	<button fxFlex="80%" 
    			style="margin:0px 10%;" 
    			mat-raised-button color="primary" 
    			(click)="data['userData']['info']['telephone'].push('www.mywebsite.com')">
    		Add Website
    	</button>

   		<div fxFlex="100%"
   			 class="mt-20"
    		 *ngFor="let mysite of data['userData']['info']['website']; index as i">


			<mat-form-field appearance="outline" 
							floatLabel="always" 
							class="w-100-p"
							fxFlex="80%"
							style="margin:0px 10% 0px 10%">
				<mat-label>Website</mat-label>
				<input matInput placeholder="Website"
					   [ngModel]="mysite"
					   required>
			</mat-form-field>

		</div>






    	<!-- Emails -->
    	<h3>Emails</h3>
    	<button fxFlex="80%" 
    			style="margin:0px 10%;" 
    			mat-raised-button color="primary" 
    			(click)="data['userData']['info']['telephone'].push('myemail@domain.com')">
    		Add Email
    	</button>

   		<div fxFlex="100%"
   			 class="mt-20"
    		 *ngFor="let myemail of data['userData']['info']['email']; index as i">


			<mat-form-field appearance="outline" 
							floatLabel="always" 
							class="w-100-p"
							fxFlex="80%"
							style="margin:0px 10% 0px 10%">
				<mat-label>Email</mat-label>
				<input matInput placeholder="Email"
					   [ngModel]="myemail"
					   required>
			</mat-form-field>

		</div>



   	</div>














    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button
                    color="accent"
                    (click)="dialogRef.close(data['userData'])"
                    class="save-button"
                    aria-label="Save Changes">
                SAVE CHANGES
            </button>

        </div>

        <button mat-icon-button (click)="dialogRef.close()"
                aria-label="Cancel"
                matTooltip="Cancel">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
