<section id="brandSection" class="section notopmargin notoppadding" style="background-color:#FFFFFF">

	<div class="container clearfix">

		<div fxLayoutAlign="row">

			<div class="sectionLabel" fxFlex="30%">Results</div>

			<div class="sectionText" fxFlex="70%">
				Ramada’s renovation of an historic hotel in central Austin provided an opportunity to add warm materials to a space in a new way for depth, movement and interest.
			</div>

		</div>

		<div fxLayoutAlign="row" class="mt-50">

			<div fxFlex="30%">
				<button type="button" class="ml-5 btn btn-primary scheduleButton" onclick="location.href='https://meetings.hubspot.com/polli';">Schedule a call</button>
			</div>

			<div fxFlex="20%" class="listTitle">Services</div>

			<div fxFlex="50%" class="listSection">
				
				<div class="listItem">Architectural Design</div>
				<div class="listItem">3D Modeling</div>
				<div class="listItem">Project Management</div>
				<div class="listItem">AutoCAD / BIM Integration</div>
				<div class="listItem">Construction Documentation</div>
				<div class="listItem">Construction Administration</div>
				<div class="listItem">Fabrication & Installation</div>

			</div>

		</div>	

	</div>

</section>