.title-banner {
  flex: 1 0 auto;
  height: 50px !important;
  max-height: 50px !important;
  min-height:50px !important;
  width:100%;
  color:#fff;
  background-size:cover;
  font-size:1.2em;

  background-image: url('https://makstudio.s3.us-east-2.amazonaws.com/Backgrounds/wallPanelFossil.png');
  background-image: url('https://makstudio.s3.us-east-2.amazonaws.com/Backgrounds/kingsBG.png');

}
