
<!--

		This is the creator studio. It is where designers create new designs. There are 
		seven tabs where this happens. This page is available only to designers.

		Select a Design : In this tab, the user can add a new design or select an existing
		one. Once one is selected, the remaining items are populated.

		Design Data : This tabs lets the designer edit the name and description. They
		then can paste the shapediver ticket into the spot and set the status of the design.
		Finally, the user can set the images, the type, and a few other things.

		Design Parameters : This is the primary tab. Here, the designer builds the menus
		that the users will interact with to adjust their projects to their desire. Designers
		can add new submenus, add parameters, adjust the placement of those items as well
		as the parameter types.

		Pricing Data : This tab lets the user set the initial price of a project with this
		design. They can then set the formula which will be used to calculate the price.

		Marketplace Demo : This tab shows the designer a demo of what their project will
		look like in the marketplace.

		Design Studio Demo : This tab is a link that lets the designer see what the design
		will function like when viewed in the design studio

		Signoff : If a sign off is required, this final tab is shown. This is a place where
		the user can assign other users who have the right to sign off on the design.

-->


<div id="projects" style="background-color:#FFF" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

	<!-- HEADER -->
	<div class="header accent" fxLayout="row"></div>
	<!-- / HEADER -->

	<!-- CONTENT -->
	<ng-template #Loading><h1>Loading</h1></ng-template>

	<div class="content" *ngIf="dataFlag else Loading">


		<!-- CENTER -->
		<div class="center p-24" fusePerfectScrollbar>

			<!-- CONTENT -->
			<div class="content p-24" 
				 fxFlex="80%"
				 style="margin:0px 10%; box-shadow:0px 0px 0px rgba(0,0,0,0) !important;">

				<form #designForm="ngForm">

					<mat-tab-group>
						


						<mat-tab label="Select a Design" flex="100%">

						<div fxFlex="80%" 
							 fxLayout="column"
							 style="margin:0px 10%">

							<h1 class="mt-32 mb-20">Select a Design</h1>

							<mat-divider></mat-divider>


							<div *ngIf="designList.length==0">You currently have no designs.</div>


							<button mat-button 
									class="primary mb-40" 
									(click)="newDesign()"
									style="width:40%; margin:40px 30% 0px 30%">
								Create New Design
							</button>

							<table class="displayTable">


							    <tr	(click)="currentDesign=design; formatDesignData()"
							       target="_blank"
							       class="designRow"
							       [ngClass]="{'currentItem' : design==currentDesign}"
							       *ngFor="let design of designList; index as i">

							    	<td class="mat-subheading-2" style="width:25%">{{ design.title }}</td>

							    	<td class="mat-body-1" style="width:55%"> 
							    		<span style="font-weight:bold; margin-right:10px;">Type : {{design.category}}</span> 
										{{ design.marketplace.description }}
									</td>

							    	<td class="mat-body-1" style="width:20%">
							    		<span *ngIf="design.status==0" style="font-weight:bold; margin-right:10px;">Status : Inactive</span> 
							    		<span *ngIf="design.status==1" style="font-weight:bold; margin-right:10px;">Status : Active</span> 
									</td>

								</tr>


							</table>

						</div>


						</mat-tab>





						<mat-tab label="Design Data" flex="100%">

							<div flex="100%" 
								 layout="column" 
								 style="width:100%">
						  

								<div fxLayout="row" 
									 fxLayoutAlign="center center"
									 *ngIf="changesExist" 
									 flex="100%">

									<button mat-raised-button 
											color="primary"
											(click)="saveDesignChanges(); changesExist=false;"
											style="margin:10px 35%; width:30%">
										Save Changes
									</button>

								</div>

								<!-- TOP ROW OF PROJECT DATA -->
								<div fxLayout="row" 
									 fxLayoutAlign="center" 
									 flex="100%">

									<div fxFlex="45%" 
										 fxLayout="column" 
										 class="text-center" 
										 style="margin-right:5%">


										<h2 class="mt-32 mb-20">General Design Data</h2>


										<!-- THE DESIGN NAME -->
										<mat-form-field appearance="outline" 
														floatLabel="always" 
														class="w-100-p form-group">
											<mat-label>Design Name</mat-label>
											<input type="text"
												   class="form-control"
												   matInput 
												   placeholder="Design Name"
												   name="title"
												   #title="ngModel"
												   [(ngModel)]="currentDesign['title']"
												   (blur)="changesExist=true"
												   required 
												   minlength="5" 
												   maxlength="150">
											<mat-error [hidden]="title.valid || title.pristine || !title.errors?.minlength">
												Design title is required with at least 5 characters
											</mat-error>
										</mat-form-field>

										<div [hidden]="title.valid || title.pristine || !title.errors?.minlength"
										     class="alert alert-danger">
											Design title is required with at least 5 characters
										</div>





										<!-- THE DESIGN DESCRIPTION -->
										<mat-form-field style="min-height:190px" 
														appearance="outline"
														class="w-100-p form-group">
											<mat-label>Design Description</mat-label>
											<textarea style="min-height:190px"
													  matInput 
													  class="form-control"
													  placeholder="Product Description"
													  name="description"
													  #description="ngModel"
													  [(ngModel)]="currentDesign['marketplace']['description']"
													  (blur)="changesExist=true"
													  required
													  minlength="20"
													  rows="5">
											</textarea>
										</mat-form-field>


										<div [hidden]="description.valid || description.pristine || !description.errors?.minlength"
										     class="alert alert-danger">
										  	The description must be at least 20 characters long
										</div>





										<!-- THE SHAPEDIVER TICKET NUMBER -->
										<mat-form-field appearance="outline" 
														floatLabel="always" 
														class="w-100-p form-group">
											<mat-label>Shapediver Ticket Number</mat-label>
											<input matInput
												   placeholder="Shapediver ticket"
												   name="ticket"
												   #ticket="ngModel"
												   [(ngModel)]="currentDesign['shapediverTicket']"
												   (blur)="changesExist=true"
												   required>
										</mat-form-field>


										<div [hidden]="ticket.valid || ticket.pristine || !ticket.errors?.minlength"
										     class="alert alert-danger">
										  	The shapediver ticket is required
										</div>




										<!-- THE STATUS OF THE ITEM IN THE MARKETPLACE -->
										<mat-form-field class="mb-40 form-group">
											<mat-label>Status of Item</mat-label>
											<mat-select name="status"
														#status="ngModel"
												  		[(ngModel)]="currentDesign.status"
												  		(change)="changesExist=true">
										  		<mat-option [value]="0">
													Disabled
												</mat-option>
										  		<mat-option [value]="1">
													Active
												</mat-option>
											</mat-select>
										</mat-form-field>


										<!-- Whether or not sign offs are required -->
										<mat-checkbox [(ngModel)]="currentDesign.signoffRequired"
													  name="signoff"
													  style="color:#FF0000">
											Signoffs Required
										</mat-checkbox>


									</div>


									<div fxFlex="45%"
										 fxLayout="column" 
										 class="text-center" 
										 style="margin-right:5% form-group">


										<h2 class="mt-32 mb-20">Marketplace Data and Images</h2>

										<!-- THE TYPE -->
										<mat-form-field class="mb-40" 
														name="designType">
											<mat-label>Category of design</mat-label>
											<mat-select name="category"
														#category="ngModel"
														[(ngModel)]="currentDesign.category"
														(change)="changesExist=true"
														required>
										  		<mat-option *ngFor="let thisType of designType" [value]="thisType">
													{{thisType}}
												</mat-option>
											</mat-select>
										</mat-form-field>

										<div [hidden]="category.valid || category.pristine || !category.errors?.minlength"
										     class="alert alert-danger">
										  	The category is required
										</div>



										<!-- THE COMPANY -->
										<mat-form-field class="mb-40" 
														name="companyId">
											<mat-label>Company selling design</mat-label>
											<mat-select (selectionChange)="setCompany()"
												  		[(ngModel)]="currentDesign.companyId"
												  		#companyId="ngModel"
												  		(change)="changesExist=true"
												  		required
												  		name="company">
										  		<mat-option *ngFor="let thisCompany of companies" [value]="thisCompany.id">
													{{thisCompany.name}}
												</mat-option>
											</mat-select>
										</mat-form-field>

										<div [hidden]="companyId.valid || companyId.pristine || !companyId.errors?.minlength"
										     class="alert alert-danger">
										  	The company is required
										</div>




										<div fxFlex="100%">

											<div fxFlex="70%">Use the button to add images to be displayed in the marketplace or in the carousel. Select the image to be used as the marketplace image.</div>

											<div fxFlex="30%">

												<input class="ng-hide mainBg" 
											   		   id="input-file-id" 
													   multiple type="file"
													   accept=".png,.jpg,.jpeg,.gif"
													   (change)="onBGUpload($event, 'mainBg')" />

												<label for="input-file-id" 
													   style="background-color:#456382; cursor:pointer; border-radius:8px; padding:10px; margin:10px 0px 40px 0px; color: white;"
													   color="primary" 
													   class="md-button md-raised md-primary">
													Add Image
												</label>

											</div>

										</div>




										<div fxFlex="100%"
											 fxLayout="row"
											 class="mt-20">
											
											<div *ngFor="let thisImage of carouselUrls; index as i">

												<div fxLayout="column">

													<div fxLayout="row">

														<mat-icon style="cursor:pointer"
																  (click)="currentDesign.marketplace.images.splice(i, 1); carouselUrls.splice(i,1); changesExist=true">
															cancel
														</mat-icon>											 		

														<mat-icon style="cursor:pointer"
																  *ngIf="currentDesign.marketplace.images[i]['mainImage']==false"
																  (click)="setMainImage(i); changesExist=true">
															keyboard_arrow_up
														</mat-icon>	

													</div>	

												 	<img [src]="thisImage | async" width="150" height="150">

												 </div>
												
											</div>
										
										</div>


										

									</div>


								</div>

							</div>
							<!-- / TOP ROW OF PROJECT DATA -->
						  	
						</mat-tab>












						<!-- THE DESIGN PARAMETERS -->
						<mat-tab label="Design Parameters">


							<div fxLayout="column" 
								 fxFlex="100%" 
								 style="width:100%"
								 *ngIf="currentDesign!==undefined">


								<h2 class="mt-32 mb-20">Design Parameters</h2>


								<div fxLayout="row" 
									 fxLayoutAlign="center center"
									 *ngIf="changesExist" 
									 flex="100%">

									<button mat-raised-button 
											color="primary"
											(click)="saveDesignChanges(); changesExist=false;"
											style="margin:10px 35%; width:30%">
										Save Changes
									</button>

								</div>


								<div fxFlex="100%" class="mr-52">
									<div class="mt-20 mat-subheading-2" style="color:#898989">The list below holds the items that will be displayed as icons and have submenus. For each design, there is an initial menu where the user can pick a different design and a final menu that displays the cost. Click on the green plus to add a new submenu and then add individual items and move them from menu to menu.</div>	
								</div>


								<div fxFlex="100%">

									<button mat-raised-button 
											color="primary" 
											class=""
											aria-label="Add new submenu"
											style="width:40%; margin:40px 30%"
											(click)="addSubmenu(); changesExist=true" >
          								Add New Submenu
        							</button>

								</div>
									
								<div fxFlex="100%">

									<div class="example-container"
										 fxLayout="row" >

										<div
											cdkDropList
											cdkDropListOrientation="horizontal"
											class="example-list-hor"
											[cdkDropListData]="currentDesign['parameterMenus']"
											(cdkDropListDropped)="drop($event)">
										
											<div class="example-box-hor" 
												 fxLayout="row"
												 *ngFor="let item of currentDesign['parameterMenus']; index as i" cdkDrag>
												<div class="menuDelete">
													<mat-icon class="ml-20" 
															  style="position:relative; top:5px"
															  (click)="currentDesign['parameterMenus'].splice(i, 1); changesExist=true">
														cancel
													</mat-icon>
												</div>
												<div class="menuIcon"><mat-icon>{{item.icon}}</mat-icon></div>
												<div class="menuName">{{item.label}}</div>
												<div class="">
													<button mat-icon-button color="primary" 
															class="add_button"
															aria-label="Add new parameter"
															(click)="addMenuItem(i); changesExist=true" >
				          								<mat-icon>add_circle</mat-icon>
				        							</button>
													<button mat-icon-button aria-label="" (click)="openSubmenuDialog(i); changesExist=true" >
														<mat-icon>more_vert</mat-icon>
													</button>
												</div>
											</div>
										</div>


									</div>


									<!-- List of Menus -->
									<div cdkDropListGroup class="" style="">

										<div fxLayout="row" style="margin-bottom:40px; flex-flow:row wrap">

											<div class="example-container" 
												 *ngFor="let menuItem of currentDesign['parameterMenus']; index as i">

												<div class="example-container" 
													 fxLayout="column">

													<!--
													<button mat-button class="add_menu mb-20 text-center" 
															(click)="addMenuItem(i)">
														<div class="">Add menu item<mat-icon class="ml-20" style="position:relative; top:5px">add_circle</mat-icon></div>
													</button>
												-->

													<div class="example-container" 
														 fxLayout="column">

														<div cdkDropList
															 #paramList[i]="cdkDropList"
															 [cdkDropListData]="menuItem['parameters']"
															 class="example-list"
															 (cdkDropListDropped)="drop($event)">
														
															<div class="example-box" 
																 *ngFor="let parameter of menuItem.parameters, index as j"
																 cdkDrag
																 fxLayout="column">

																
																<!-- Top row with delete and dots -->
																<div fxLayout="row"
																	 fxFlex="100%"
																	 style="width:100%"
																	 fxLayoutAlign="space-between">
																	<div class="menuDelete">
																		<mat-icon class="ml-20" 
																				  style="position:relative; top:5px"
																				  (click)="menuItem.parameters.splice(j, 1); changesExist=true">
																			cancel
																		</mat-icon>
																	</div>
																	<button mat-icon-button aria-label="" (click)="openDialog(i, j); changesExist=true" >
		        														<mat-icon>more_vert</mat-icon>
		      														</button>
		      													</div>



		      													<!-- Slider row -->
																<div fxLayout="row"
																	 *ngIf="parameter.type=='slider'">
																	<div class="h3 text-center mb-12">{{parameter.label}}</div>
		      													</div>
		      													<div *ngIf="parameter.type=='slider'"
		      														 class="w-280 mb-20 text-center"
		      														 fxLayout="row">


																	<div class="w-160 mr-20 ml-20 custom-slider">
																		<ng5-slider [(value)]="parameter['value']" 
																					[options]="{floor: parameter['min'], 
																								ceil: parameter['max'], 
																								step: parameter['step'], 
																								showTicks: parameter['showTicks'], 
																								showTicksValues: parameter['showTicksValues']}">
																		</ng5-slider>
																	</div>



																	<input matInput 
																		   id=""
																		   [(value)]="parameter['value']"
																		   style="width:70px; height:40px; margin-top:10px; border:1px solid #ACACAC" 
																		   class="inputItem w-70 mat-subheading-2 pt-5 pb-5 text-center" >

		      													</div>




		      													<!-- Select row -->
																<div fxLayout="row"
																	 *ngIf="parameter.type=='dropdown'">
																	<div class="h3 text-center mb-12">{{parameter.label}}</div>
		      													</div>

		      													<div *ngIf="parameter.type=='dropdown'"
		      														 class="w-280 mb-20 text-center"
		      														 fxLayout="row">

																	<mat-form-field appearance="outline"
																					floatLabel="always"
																					class="w-100-p">
																		<mat-label>Select Options</mat-label>
																		<mat-select>
																			<mat-option *ngFor="let thisOption of parameter['options']" [value]="thisOption['value']">
																				{{thisOption['label']}}
																			</mat-option>
																		</mat-select>
																	</mat-form-field>

		      													</div>




		      													<!-- Text row -->
																<div fxLayout="row"
																	 *ngIf="parameter.type=='text'">
																	<div class="h3 text-center mb-12">{{parameter.label}}</div>
		      													</div>
		      													<div *ngIf="parameter.type=='text'"
		      														 class="w-280 mb-20 text-center"
		      														 fxLayout="column">

																	<input matInput 
																		   id=""
																		   style="width:200px; border:1px solid #ACACAC" 
																		   class="inputItem mat-subheading-2 pt-8 pb-8 ml-40 text-center" 
																		   name="paramText"
																		   [(ngModel)]="parameter.text">

																</div>





		      													<!-- Color Select row -->
																<div fxLayout="row"
																	 *ngIf="parameter.type=='color select'">

																	<div class="w-280 text-center mt-20 mb-20" fxLayout="row">

																		<div class="h3 text-center mb-12 w-200">{{parameter.label}}</div>

																		<input ejs-colorpicker type="color" id="colorpicker" />
																		
																	</div>

		      													</div>




		      													<!-- Image Select row -->
																<div fxLayout="row"
																	 *ngIf="parameter.type=='image select'">

																	<div class="w-280 text-center mt-20 mb-20" 
																		 fxLayout="column"
																		 fxFlexAlign="center center">

																		<div class="h3 text-center mb-12 w-280"
																			 fxFlexAlign="center center">
																			{{parameter.label}}
																		</div>

																		

																		<div *ngFor="let thisImage of parameter['images']; index as k"
																			 fxLayoutAlign="center center"
																			 fxLayout="column"
																			 fxFlex="100">

																			<div fxFlex="100"
																				 fxLayout="center">
																				<div style="height:75px; width:75px">
																					<img width="75" [src]="(parameterUrls[i]['parameters'][j]['images'][k]['imageUrl'] | async)">
																				</div>
																			</div>

																			<div>{{thisImage.label}}</div>

																		</div>


																	</div>
		      													</div>





																<!-- The toggle items -->
																<div *ngIf="parameter['type']=='toggle'">

																	<div class="w-280 text-center mt-20 mb-20" fxLayout="row">

																		<div class="h3 text-center mb-12 w-200">{{parameter.label}}</div>

																		<mat-slide-toggle
																			  [(ngModel)]="parameter.value"
																			  class="w-50 ml-20 mt-12"
																			  name="paramValue"
																			  color="accent-900">
																		</mat-slide-toggle>

																	</div>

																</div>



																<!-- The bloc items -->
																<div *ngIf="parameter['type']=='blob'">

																	<div class="w-280 text-center mt-20 mb-20" fxLayout="row">

																		<div class="h3 text-center mb-12 mt-12 w-200">{{parameter.label}} - Blob</div>

																	</div>


																</div>






		      													<!-- Upload Item -->
		      													<div *ngIf="parameter.type=='upload'"
		      														 class="w-280 mb-20 text-center"
		      														 fxLayout="row"
		      														 fxLayoutAlign="center center">

																	<input class="ng-hide" 
																   		   id="" />

																	<label for="input-file-id" 
																		   style="background-color:#456382; cursor:pointer; border-radius:8px; padding:10px; margin:10px 0px 0px 0px; color: white;"
																		   color="primary" 
																		   class="md-button md-raised md-primary">
																		{{parameter.label}}
																	</label>

		      													</div>




															</div>
													
														</div>

													</div>

												</div>

											</div>

										</div>

									</div>

								</div>
								<!-- / List of menus -->

							</div>
						
						</mat-tab>
						<!-- / THE DESIGN PARAMETERS -->















						<!-- PRICING DATA -->
						<mat-tab label="Pricing Data">


							<div layout="column" 
								 flex="100%" 
								 style="width:100%"
								 *ngIf="currentDesign!==undefined">

								<h2 class="mt-32 mb-20">Pricing Data</h2>

								<div fxLayout="row" 
									 fxLayoutAlign="center center"
									 *ngIf="changesExist" 
									 flex="100%">

									<button mat-raised-button 
											color="primary"
											(click)="saveDesignChanges(); changesExist=false;"
											style="margin:10px 35%; width:30%">
										Save Changes
									</button>

								</div>


								<div fxLayout="column" 
									 fxLayoutAlign="center" 
									 flex="100%">

									<div class="mat-subheading-1" style="color:#898989">The first box below holds the price that will be shown to the user in the marketplace before any alterations are made. It is an estimation of what the typical customer would pay if they altered little.</div>

									<!-- INITIAL PRICE -->
									<mat-form-field appearance="outline" 
													floatLabel="always" 
													class="w-40-p mt-20 mb-32"
													style="margin-left:30%">
										<mat-label>Initial Price</mat-label>
										<input matInput placeholder="Initial Price"
											   name="price"
											   #price="ngModel"
											   [(ngModel)]="currentDesign['initialPrice']"
											   (blur)="changesExist=true"
											   required>
									</mat-form-field>

									<div [hidden]="price.valid || price.pristine || !price.errors?.minlength"
									     class="alert alert-danger">
									  	The price is required
									</div>


									<div class="mat-subheading-1" style="color:#898989">The box below lets the designer establish how the price for each item is calculated. Typically, this is multiplying a length times a width times a cost per square inch or foot or multiplying a length times price per foot or inch.</div>

									<div class="mat-subheading-1" style="color:#898989">Type the formula to calculate the cost in the box. Use the names of the desired parameters. As you type, the recognized parameters, operators, and numbers will appear below in grey, green, and blue. Unrecognized elements will appear in red. Formulas with unrecognized elements cannot be used to calculate price.</div>


									<!-- PRICE FORMULA -->
									<mat-form-field appearance="outline" floatLabel="always" 
													class="w-80-p mt-20 mb-32"
													style="margin-left:10%">
										<mat-label>Price Formula</mat-label>
										<input matInput placeholder="Formula for price"
											   name="priceFormula"
											   [(ngModel)]="currentDesign['priceFormula']"
											   (keyup)="checkPriceFormula()"
											   (blur)="changesExist=true"
											   required>
									</mat-form-field>


									<!-- PRICE COMPONENTS -->
									<div fxLayout="row"
										 class="w-80-p"
										 style="margin:0px 10%">
										<div *ngFor="let pi of currentDesign.priceArray; let i = index">
											<div [ngClass]="pi.status">{{pi.text}}</div>
										</div>
									</div>

									<!-- {{this.currentDesign.priceArray | json}} -->

								</div>

							</div>
						
						</mat-tab>
						<!-- / PRICING DATA -->













						<!-- MARKETPLACE DEMO -->
						<mat-tab label="Marketplace Demo">


							<div layout="column" 
								 flex="100%" 
								 style="width:100%"
								 *ngIf="currentDesign!==undefined">

								<!-- TOP ROW SHOWING MAIN STORE PAGE DEMO -->
								<h2 class="mt-32 mb-20">Marketplace Demonstration</h2>

								<div fxLayout="row" fxLayoutAlign="center" flex="100%">

									<div fxFlex="33%" fxLayout="column" class="text-center ml-25-p">

										<div class="mat-subheading-2 pr-50" style="color:#898989">The column to the right shows how the product will appear on the main store page. It displays the background image as well as the title and company name. The section below shows the detailed view that a user will see if they click on the product on the store page.</div>
									</div>


									<div fxFlex="17%"></div>

									<div fxFlex="50%" fxLayout="column" class="text-center ml-25-p" fxLayoutAlign="center right">


										<div class="storeitem" fxFlex="100">

											<div class="storeitem-content" 
												 fxLayout="column" 
												 fxFlex="1 1 auto">

												

												<div *ngFor="let thisImage of carouselUrls; index as j">

													<div *ngIf="currentDesign.marketplace.images[j]['mainImage']==true"
														 class="content mainImage" 
														 fxLayout="column" 
														 fxLayoutAlign="center right" 
														 [ngStyle]="{'width':'300px', 'height':'250px', 'background-image':'url(' + (thisImage | async) + ')'}" >

														<div style="background-color:#ccc; width:60%; padding:5px 10px">	 
															<div class="h1">{{currentDesign.title}}</div>
															<div class="description">{{currentDesign.company.name}}</div>
														</div>

													</div>

												</div>

											</div>

										</div>

									</div>

								</div>





								<mat-divider class="mt-52 mb-52"></mat-divider>

								<!-- TOP ROW SHOWING MAIN STORE PAGE DEMO -->
								<h2 class="mt-32 mb-20">Marketplace Demonstration</h2>

								<div fxLayout="row" fxLayoutAlign="center" flex="100%">


								<!-- STORE DATA -->
								<div fxLayout="column" 
									 class="mt-32"
									 flex="45"
									 style="width:40%; margin:0px 5%">


									<div class="itemTypeText">{{currentDesign.category}}</div>


									<div class="mat-display-2 itemTypeTitle">{{currentDesign.title}}</div>


									<div class="mat-title itemDescription">{{currentDesign.marketplace.description}}</div>


									<div class="itemCompanySection" fxLayout="row">

										<img class="itemCompanyLogo" [src]="currentDesign.company.logo">

										<div class="itemCompanyDetails" fxLayout="column">

											<div class="mat-title itemCompanyName">{{currentDesign.company.name}}</div>
											<div class="mat-subheading-1 itemCompanyLocation">{{currentDesign.company.location}}</div>

										</div>

									</div>

								</div>
								<!--/  STORE DATA -->



								<!-- Images -->
								<div fxFlex="45" fxLayout="column">

							 		<div *ngFor="let thisImage of carouselUrls; index as i">
									 	<img [src]="thisImage | async" width="100%">
									</div>
									
								</div>
								<!-- /Images-->

								<!-- IMAGES --		 
								<div fxLayout="column" 
									 class="mt-32"
									 flex="45%"
									 *ngIf="carouselUrls?.length"
									 style="width:40%; margin:0px 5%">

									<mat-carousel
										timings="250ms ease-in"
										[autoplay]="true"
										interval="5000"
										color="accent"
										maxWidth="auto"
										proportion="100"
										[slides]="currentDesign.marketplace.images.length"
										[loop]="true"
										[hideArrows]="false"
										[hideIndicators]="false"
										[useKeyboard]="true"
										[useMouseWheel]="false"
										orientation="ltr" >
										
										<mat-carousel-slide
											#matCarouselSlide
											*ngFor="let slide of carouselUrls; let i = index"
											[image]="slide | async"
											overlayColor="#00000040"
											[hideOverlay]="false">{{slide | async}}
										  	
										</mat-carousel-slide>
									</mat-carousel> 

								</div>
								<!--/  IMAGES -->

								</div>

							</div>
						
						</mat-tab>
						<!-- / MARKETPLACE DEMO -->
















						<!-- DESIGN STUDIO DEMO -->
						<mat-tab label="Design Studio Demo">


							<div layout="column" 
								 flex="100%" 
								 style="width:100%"
								 *ngIf="currentDesign!==undefined">

								<h2 class="mt-32 mb-20">Design Studio Demo</h2>

								<div class="">To see a demo of this product in the design studio, <a [routerLink]="['/designStudio/design/'+currentDesign.uid]">click on this link</a>. The product will not be displayed within the marketplace until the status is changed to 'active' and it has been approved by the admin at Mak Studio.</div>


							</div>
						
						</mat-tab>
						<!-- / DESIGN STUDIO DEMO -->














						<!-- SIGNOFFS -->
						<mat-tab label="Signoffs"
								 *ngIf="currentDesign.signoffRequired">


							<div layout="column" 
								 flex="100%" 
								 style="width:100%"
								 *ngIf="userData.uid == currentDesign.creatorId">

								<h2 class="mt-32 mb-20">Users who can sign off</h2>

								<div class="">To add a user to the list of those that can provide input to the design or sign off on it, enter the user name in the box below and press enter. If that user name is found, a button will appear giving you the option to add that user. Once the user is added, they will see the sign off option on this tab.</div>


								<div class="text-center">

									<div class="mt-40 mb-40 text-center">
										<mat-form-field class="w-400">
										<mat-label>User Email</mat-label>
											<input matInput 
												   placeholder="User Name" 
												   [(ngModel)]="testUser" 
												   name="testUser"
												   (keyup.enter)="checkUserEmail(testUser)">
										</mat-form-field>
									</div>
								
									<div class="mb-20 text-center">
										<button mat-button 
												class="primary"
												*ngIf="potentialUser.email"
												(click)="createDesignReq( potentialUser )">
											Add User to Signoff
										</button>
									</div>


									<div *ngFor="let userReq of reqList"
										 fxLayout="row"
										 class="text-center w-300"
										 style="margin:auto">

										<img class="profileAvatar avatar" 
    										 [src]="(userReq.userImage | async)">

										<div class="mt-8 ml-20 w-220 text-center">{{userReq.userEmail}}</div>
									</div>

								</div>




							</div>


						
						</mat-tab>
						<!-- / SIGNOFFS -->




					</mat-tab-group>

				</form>


			</div>
			<!-- / CONTENT -->

		</div>
		<!-- / CENTER -->

	</div>
	<!-- / CONTENT -->

</div>
