

<!--

		This is the creator studio. It is where designers create new designs. There are 
		seven tabs where this happens. This page is available only to designers.

		Select a Design : In this tab, the user can add a new design or select an existing
		one. Once one is selected, the remaining items are populated.

		Design Data : This tabs lets the designer edit the name and description. They
		then can paste the shapediver ticket into the spot and set the status of the design.
		Finally, the user can set the images, the type, and a few other things.

		Design Parameters : This is the primary tab. Here, the designer builds the menus
		that the users will interact with to adjust their projects to their desire. Designers
		can add new submenus, add parameters, adjust the placement of those items as well
		as the parameter types.

		Pricing Data : This tab lets the user set the initial price of a project with this
		design. They can then set the formula which will be used to calculate the price.

		Marketplace Demo : This tab shows the designer a demo of what their project will
		look like in the marketplace.

		Design Studio Demo : This tab is a link that lets the designer see what the design
		will function like when viewed in the design studio

		Signoff : If a sign off is required, this final tab is shown. This is a place where
		the user can assign other users who have the right to sign off on the design.

-->


<div id="projects" style="background-color:#FFF" class="page-layout simple left-sidebar inner-sidebar inner-scroll">


	<!-- HEADER -->
	<div class="header accent" fxLayout="row"></div>
	<!-- / HEADER -->

	<!-- CONTENT -->
	<div class="content" *ngIf="(makDesigns$ | async)">


		<!-- CENTER -->
		<div class="center p-24" fusePerfectScrollbar>

			<!-- CONTENT -->
			<div class="content p-24" 
				 fxFlex="80%"
				 style="margin:0px 10%; box-shadow:0px 0px 0px rgba(0,0,0,0) !important;">

				<form #designForm="ngForm">

					<mat-tab-group>
						


						<!-- THE DESIGN LIST -->
						<mat-tab label="Select a Design" flex="100%">

							<mak-design-list [makDesigns$]="makDesigns$"
											 [currentDesign]="currentDesign"
											 (setCurrent)="setCurrent($event)"
											 (newDesign)="newDesign($event)">
							</mak-design-list>

						</mat-tab>


						<!-- THE DESIGN DATA -->
						<mat-tab label="Design Data" flex="100%">

							<mak-design-data [currentDesign]="currentDesign"
											 (saveDesignChanges)="saveDesignChanges($event)"
											 (setCompany)="setCompany($event)"
											 (onBgUpload)="onBGUpload($event, 'mainBg')"
											 (setMainImage)="setMainImage($event)">
							</mak-design-data>
						  	
						</mat-tab>
						<!-- / DESIGN DATA -->



						<!-- THE DESIGN PARAMETERS -->
						<mat-tab label="Design Parameters">

							<mak-design-parameters [currentDesign]="currentDesign"
											 	   (saveDesignChanges)="saveDesignChanges($event)"
												   (addSubmenu)="addSubmenu($event)"
												   (addMenuItem)="addMenuItem($event)">
							</mak-design-parameters>
						  	
						</mat-tab>
						<!-- / DESIGN PARAMETERS -->
						

						<!-- THE PRICING DATA -->
						<mat-tab label="Pricing Data">

							<mak-design-price [currentDesign]="currentDesign"
											  (saveDesignChanges)="saveDesignChanges($event)">
							</mak-design-price>
						  	
						</mat-tab>
						<!-- / PRICING DATA -->



						<!-- MARKETPLACE DEMO -->
						<mat-tab label="Marketplace Demo">

							<mak-design-marketplace [currentDesign]="currentDesign">
							</mak-design-marketplace>
						  	
						</mat-tab>
						<!-- / MARKETPLACE DEMO -->


						<!-- DESIGN STUDIO DEMO -->
						<mat-tab label="Design Studio Demo">


							<div layout="column" 
								 flex="100%" 
								 style="width:100%"
								 *ngIf="currentDesign!==undefined">

								<h2 class="mt-32 mb-20">Design Studio Demo</h2>

								<div class="">To see a demo of this product in the design studio, <a [routerLink]="['/designStudio/design/'+currentDesign.uid]">click on this link</a>. The product will not be displayed within the marketplace until the status is changed to 'active' and it has been approved by the admin at Mak Studio.</div>


							</div>
						
						</mat-tab>
						<!-- / DESIGN STUDIO DEMO -->


						<!-- SIGNOFFS -->
						<mat-tab label="Signoffs"
								 *ngIf="currentDesign">

							<mak-design-signoffs [currentDesign]="currentDesign"
												 [userData]="userData">
							</mak-design-signoffs>

						</mat-tab>
						<!-- / SIGNOFFS -->




					</mat-tab-group>

				</form>


			</div>
			<!-- / CONTENT -->

		</div>
		<!-- / CENTER -->

	</div>
	<!-- / CONTENT -->

</div>
