.optionList{

  width:850px;
  margin:auto;
  border-top:1px solid #ccc;
}

.optionItem {
  border-bottom:1px solid #ccc;
  padding:20px 10px;
}

.optionField {
  width:175px;
  margin-left:10px;
  margin-right:10px;

}


.optionFieldShort {
  width:80% !important;
  margin-left:10px;
  margin-right:10px;

}


.imageLine {
  float:left;
}