
<mak-services-top-image></mak-services-top-image>

<mak-services-step-gifs></mak-services-step-gifs>

<mak-services-contact></mak-services-contact>

<mak-related-row [title1]="'Walls with sensory experience.'"
                 [link1text]="'Explore Walls'"
                 [link1]="'/walls'"
                 [image1]="'https://makstudio.s3.us-east-2.amazonaws.com/Related/flower_feature_wall_white_detail.jpg'"
                 [title2]="'Comfortable, custom seating.'"
                 [link2text]="'Explore Seating'"
                 [link2]="'seating'"
                 [image2]="'https://makstudio.s3.us-east-2.amazonaws.com/Related/facet_wall_houston_first.jpg'">
</mak-related-row>

<mak-commercial-footer></mak-commercial-footer>
