


<section id="brandSection" class="section nopadding nobottommargin" style="background-color:#FFFFFF">

  <div class="container clearfix"
       fxLayoutAlign="row">

    <div fxFlex="50%" class="sectionTitle">Jacob White Construction</div>

	</div>


  <div class="container clearfix"
       fxLayoutAlign="row">

		<div fxFlex="30%" class="sectionLabel">Branded back lighting wall.</div>

		<div fxFlex="70%" class="sectionText">Carved patterns and branded elements create a one-of-a-kind feature wall for a commercial interior lobby.</div>

	</div>

</section>







<section id="brandSection" class="section"  style="background-color:#FFFFFF">

  <div class="container clearfix" 
       style="background: url('https://makstudio.s3.us-east-2.amazonaws.com/Our+Work+-+Jacob+White/jacobWhiteWall2.png') bottom center no-repeat; background-size: cover; height:500px">
	</div>

</section>







<section id="descriptionSection" class="section nomargin nopadding" style="background-color:#FFFFFF">

  <div class="container clearfix"
       fxLayoutAlign="row">

    <div fxFlex="50%" 
         style="background: url('https://makstudio.s3.us-east-2.amazonaws.com/Our+Work+-+Jacob+White/jacobWhiteWall.png') bottom center no-repeat; background-size: cover; height:600px">
		</div>


		<div fxFlex="50%">

			<div class="descHeader">Logo</div>
			
			<div class="descText">
				
				Digital fabrication allows for any custom logo or pattern to be applied to your physical space.<br><br>

				Customizable branding feature wall allows for<br><br>

				<ul>
					<li>Total design flexibility</li>
					<li>Fully controllable lighting</li>
				</ul>

				A partial or fully back-lit feature wall instantly updates a lobby and creates a vibrant greeting for visitors.
			
			</div>

		</div>

	</div>

</section>