<div id="store" style="background-color:#FFF" 
				class="page-layout simple">

	<!-- TOP BACKGROUND -->
	<div class="top-bg accent"></div>
	<!-- / TOP BACKGROUND -->

	<!-- HEADER --
	<div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

		<div class="hero-text">
			<h1>
				MAK STUDIO MARKETPLACE
			</h1>
			<h3 >
				Select a design to see the specifics and add that design as a project you can alter.
			</h3>
		</div>

	</div>
	<!-- / HEADER -->



	<!-- HEADER -->
	<div class="header accent" fxLayout="row"></div>
	<!-- / HEADER -->





	<!-- CENTER -->
	<div class="content">


		<!-- CENTER -->
		<div class="center p-24" fusePerfectScrollbar>

			<h1 class="text-center">The Marketplace</h1>

			<!-- Select the type -->
			<mat-form-field appearance="outline"
							floatLabel="always"
							class=""
							name="myName"
							style="width:60%; margin:0px 20%;">
				<mat-label>Select Type</mat-label>
				<mat-select [(ngModel)]="selectedType">
					<mat-option *ngFor="let thisType of designTypes" [value]="thisType">
						{{thisType}}
					</mat-option>
				</mat-select>
			</mat-form-field>


			<div class="storeitems" fxLayout="row wrap" fxLayoutAlign="center" >
				
				<ng-container *ngFor="let si of storeItems">

					<div class="storeitem" 
						 [ngClass]="si.category" 
						 fxFlex="100" 
						 fxFlex.gt-sm="33" 
						 *ngIf="(si.category==selectedType || selectedType=='All')">

						<a [routerLink]="'/store/' + si.id + '/' + si.slug">

							<div class="storeitem-content" 
								 fxLayout="column" 
								 fxFlex="1 1 auto">

								<div class="content" fxLayout="column" fxLayoutAlign="center right" fxFlex="1 1 auto"
									 [style.background]="'url(' + si.background + ')'" [style.background-size]="'cover'">

									<div style="background-color:#ccc; width:60%; padding:5px 10px">	 
										<div class="h1">{{si.title}}</div>
										<div class="description">Mak Studio</div>
									</div>
								</div>

							</div>

						</a>

					</div>

				</ng-container>

				<div class="no-storeitems" *ngIf="storeItems.length === 0">
					No store items found!
				</div>

			</div>

		</div>
		<!-- / CONTENT CARD -->

	</div>
	<!-- / CENTER -->

</div>
