
<!-- Main top image
============================================= -->
<section id="mainAbout"
         class="slider-element full-screen"
         style="background: url('https://makstudio.s3.us-east-2.amazonaws.com/About/team_sitting_on_lobby_bench.jpg') bottom center no-repeat; background-size: cover;">

	<div class="full-screen section nopadding nomargin noborder darkCover">

		<div class="container dark full-screen">

      <div class="vertical-middle"
           style="position:absolute; top:50%; width:100%; padding-top:0px; padding-bottom:0px; margin-top:-170px">

				<div class="cardTitle">About Us</div>

				<div class="cardText">We are a diverse, well-rounded<br>team of architects, designers,<br>and fabricators.</div>

			</div>

		</div>

	</div>

</section>
