<h2 class="mt-32 mb-20">Marketplace Data and Images</h2>

<!-- THE TYPE -->
<mat-form-field class="mb-40 w-100-p"
                name="designType">
    <mat-label>Category of design</mat-label>
    <mat-select name="category"
                #category
                [value]="currentDesign.category"
                (change)="saveCatChange($event)"
                required>
            <mat-option *ngFor="let thisType of designType" [value]="thisType">
            {{thisType}}
        </mat-option>
    </mat-select>
</mat-form-field>


