<div class="itemTypeText">{{makDesign.category}}</div>


<div class="mat-display-2 itemTypeTitle">{{makDesign.title}}</div>


<div class="mat-title itemDescription">{{makDesign.description}}</div>


<div class="itemCompanySection" fxLayout="row">

  <img class="itemCompanyLogo" [src]="makDesign.company.logo">

  <div class="itemCompanyDetails" fxLayout="column">

    <div class="mat-title itemCompanyName">{{makDesign.company.name}}</div>
    <div class="mat-subheading-1 itemCompanyLocation">{{makDesign.company.location}}</div>

  </div>

</div>
