<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="assets/images/avatars/Velazquez.jpg"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name" 
                 [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                 *ngIf="userData.displayName===null">
                {{userData.email}}
            </div>
            <div class="name" 
                 [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                 *ngIf="userData.displayName!==null">
                {{userData.displayName}}
            </div>
        </div>

        <!--
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button color="accent" aria-label="Follow">Follow</button>
            <button mat-raised-button color="primary" aria-label="Send Message">Send Message</button>
        </div>
    -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT --
    <div class="content">

        <ng-container *ngIf="(userInfo | async)?.data() as info">

            <mat-tab-group dynamicHeight="true"
                           style="width:60%; margin:0px 20%;">

                <mat-tab label="Bio">
                    <profile-about [userData]='userData' [userInfo]="info"></profile-about>
                </mat-tab>

                <mat-tab label="Companies">
                    <profile-companies [userData]='userData' [userInfo]="info"></profile-companies>
                </mat-tab>

            </mat-tab-group>

        </ng-container>

    </div>
    <!-- / CONTENT -->



    <!-- CONTENT -->
    <div class="content">

        <ng-container *ngIf="dataFlag">

            <mat-tab-group dynamicHeight="true"
                           style="width:60%; margin:0px 20%;">

                <mat-tab label="Bio">
                    <profile-about [userData]='userData' [userInfo]="userInfo"></profile-about>
                </mat-tab>

                <mat-tab label="Companies">
                    <profile-companies [userData]='userData' [userInfo]="userInfo"></profile-companies>
                </mat-tab>

            </mat-tab-group>

        </ng-container>

    </div>
    <!-- / CONTENT -->




</div>
