
#profile {

  .header {
      height: 250px;
      min-height: 250px;
      max-height: 250px;
      background: url('https://makstudio.s3.us-east-2.amazonaws.com/Backgrounds/kingsBG.png') no-repeat 0 45%;
      background-size: cover;

      .profile-image {
          margin-right: 24px;

      }

      .user-info {
          position:relative;
          top:140px;
      }

      .name {
          font-size: 34px;

      }

      .actions {

          button {
              text-transform: none;
              padding: 0 16px;
              margin: 0 0 0 8px;
          }
      }
  }

}
