

<div id="profile" class="page-layout simple tabbed" >


  <div class="header p-20"
                    fxLayout="column"
                    fxLayoutAlign="top center">

    <mak-profile-header *ngIf="viewType!=0"
                      [userData]="viewUserData"
                      [viewType]="viewType"
                      [profileImage]="(profileImage | async)"
                      (changeViewType)="changeViewType()">
    </mak-profile-header>

    <mak-no-user *ngIf="viewType==0"></mak-no-user>

    <mak-profile-user *ngIf="viewType==1"
                      [userData]="viewUserData"
                      [viewType]="viewType">
    </mak-profile-user>

    <mak-profile-edit *ngIf="viewType==3"
                      [userData]="viewUserData"
                      [viewType]="viewType"
                      (saveProfile)="saveProfile($event)">
    </mak-profile-edit>

  </div>



</div>
