<div fxFlex="80%"
	 fxLayout="column"
	 style="margin:0px 10%">

  <div fxLayout="row">

    <h1 class="mt-32 mb-20">Select a Design</h1>

    <div class="ml-200 mt-20">
      <button mat-raised-button
          class="center-me"
          color="primary"
          (click)="newDesign()">
        Create New Design
      </button>
    </div>  

  </div>

  <mat-divider></mat-divider>


  <div *ngIf="makDesigns.length==0">You currently have no designs.</div>


  <table class="displayTable">


    <ng-container *ngFor="let design of makDesigns; index as i">

      <tr	(click)="setCurrent.emit(design);"
          target="_blank"
          class="designRow"
          [ngClass]="{'currentItem' : design.id==currentId}"
          *ngIf="design.id!=''">

          <td class="mat-subheading-2" style="width:25%">{{ design.title }}</td>

          <td class="mat-body-1" style="width:55%">
              <span style="font-weight:bold; margin-right:10px;">Type : {{design.category}}</span>
              {{ design.description }}
          </td>

          <td class="mat-body-1" style="width:20%">
              <span *ngIf="!design.status" style="font-weight:bold; margin-right:10px;">Status : Inactive</span>
              <span *ngIf="!!design.status" style="font-weight:bold; margin-right:10px;">Status : Active</span>
          </td>

      </tr>

    </ng-container>


  </table>

</div>

