
@import "src/styles.scss";

    .displayTable {
  }

  .displayTable > tr {
      border-bottom:1px solid #ccc;
      display:flex;
  }

  .displayTable > tr > td {
      padding:32px;
  }


  .designRow {
      cursor:pointer;
  }

  .designRow:hover {
      background-color:#eee;
  }



