

<div class="mt-30"
     style="margin:0px 5% 0px 0px;">

  <h3>Data</h3>

  <div class="mt-20 ">
      Estimated price - {{currentVersion.price}}
  </div>

  <div class="mt-20 mb-30">
    Date Created - {{currentVersion.dateCreated | date:'short'}}
  </div>

  <form [formGroup]="versionform">


    <!-- The version name form and validation -->
    <mat-form-field appearance="outline"
            floatLabel="always"
            class="w-100-p">
      <mat-label>Version Name</mat-label>
      <input matInput
            class="form-control"
            placeholder="Version Name"
            formControlName="versionName"
            (blur)="saveNameChange($event)">
    </mat-form-field>

    <div *ngIf="name.touched && name.invalid && !name.pristine">

      <div *ngIf="name.errors.minlength"
           class="alert alert-danger mb-20">
            Project name is required with at least 5 characters
      </div>
      <div *ngIf="name.errors.cannotContainSpecialChars"
           class="alert alert-danger mb-20">
            The name of the project cannot contain special characters
      </div>

    </div>



    <!-- The version description form and validation -->
    <mat-form-field appearance="outline"
            floatLabel="always"
            class="w-100-p">
      <mat-label>Version Description</mat-label>
      <textarea matInput
            placeholder="Version Description"
            class="form-control"
            name="versionDescription"
            formControlName="versionDesc"
            (blur)="saveDescChange($event)">
      </textarea>
    </mat-form-field>

    <div *ngIf="desc.touched && desc.invalid && !desc.pristine">

      <div *ngIf="desc.errors.minlength"
           class="alert alert-danger mb-20">
            Project name is required with at least 25 characters
      </div>
      <div *ngIf="desc.errors.cannotContainSomeSpecialChars"
           class="alert alert-danger mb-20">
            The description of the version cannot contain special characters other than periods and commas
      </div>

    </div>



  </form>

</div>
