<div class="footer">
  <div class="note">This quote is a starting point.</div>
  <div fxLayout="row" fxLayoutAlign="start start">
      <div class="w-150">
          <img class="w-100" src="assets/images/makTextBlack.png">
      </div>
      <div class="small-note">
          If you choose to purchase this item, when the deposit is received MAK Studio will contact the customer with 3D images of the final design. Once the final design is agreed to, construction and delivery will move forward.
      </div>
  </div>
</div>
