

<div id="designStudio" class="page-layout simple inner-scroll">

  <div class="content" style="height:100%">

      <ng-container>

          <mak-design-sidebar class="topmenu"
                          [designData]="designData"
                          [versionList]="versionList"
                          [versionData]="versionData"
                          [projectData]="projectData"
                          [signoffData]="signoffList"
                          [userData]="userData"
                          [flowersJSON]="flowersJSON"
                          [flowerFlag]="flowerFlag"
                          [editableVersion]="editableVersion"
                          (loadModel)="loadModel($event)"
                          (setVersionData)="setVersionData($event)"
                          (uploadFile)="uploadFile($event, paramName)"
                          (updateParameter)="updateParameter($event)">

          </mak-design-sidebar>

      </ng-container>

      <div class="center" >

          <div class="content"
               id="modelDiv"
               style="position:absolute; top:114px; left:0px; width:100%; height:100%; z-index:0">
          </div>

      </div>

  </div>

</div>
