/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: muli, Roboto, "Helvetica Neue", sans-serif; }


@for $i from 0 to 50 {
	.mt-#{$i*5} {
		margin-top: $i*5 + px;
	}
}
@for $i from 0 to 50 {
	.mb-#{$i*5} {
		margin-bottom: $i*5 + px;
	}
}
@for $i from 0 to 50 {
	.ml-#{$i*5} {
		margin-left: $i*5 + px;
	}
}
@for $i from 0 to 50 {
	.mr-#{$i*5} {
		margin-right: $i*5 + px;
	}
}




@for $i from 0 to 40 {
	.pt-#{$i*5} {
		padding-top: $i*5 + px;
	}
}
.pt-8 { padding-top:8px }
.pt-12 { padding-top:12px }
@for $i from 0 to 40 {
	.pb-#{$i*5} {
		padding-bottom: $i*5 + px;
	}
}
@for $i from 0 to 40 {
	.pl-#{$i*5} {
		padding-left: $i*5 + px;
	}
}
@for $i from 0 to 40 {
	.pr-#{$i*5} {
		padding-right: $i*5 + px;
	}
}

.p-0 {
  padding:0px !important;
}



$width: 100%;
@for $i from 0 to 21 {
  $myWidth:$i*5%;
	.w-#{$i*5}-p {
		width: $myWidth;
	}
}

@for $i from 1 to 80 {
  $myWidth:$i*5;
	.w-#{$i*5} {
		width: $myWidth+px;
	}
}



@for $i from 0 to 40 {
	.p-#{$i*2} {
		padding: $i*2 + px;
	}
}

.nopadding {
  padding:0 !important;
}

.nomargin {
  margin:0 !important;
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$candy-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);


.text-center {
  text-align:center !important;
}

.center-me {
  margin:auto;
}

.currentItem {
  color: #039be5 !important;
}




.top-bg {
  position:absolute;
  z-index:-1;
  top:100;
  right:0;
  left:0;
  height:200px;
}

.carded {
  flex:1 1 auto;
  display:flex;
  width:100%;
  height:100%;
}

.accent {
  background-color : #039be5 !important;
  color:#fff;
}
