.quote-button {
  color:#000;
  border:1px solid #000;
}


.pdfLine {
  margin:10px auto;
}

.pdfLink {
  padding:5px 10px;
  margin:auto;
  color:#000;
}

.pdfLinkText {
  margin:0px 10px 0px 0px;
}
