<div id="invoice" class="modern page-layout blank" fxLayout="row">

  <div class="invoice-container"
       *ngIf="projectDataFlag && designDataFlag && versionDataFlag">

      <div class="card">

          <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
            <mak-address></mak-address>
            <mak-design-summary [designData]="designData"
                                [projectData]="projectData"
                                [versionData]="versionData"></mak-design-summary>
          </div>

          <div class="content">

            <mak-invoice-descriptions [designData]="designData"
                                      [projectData]="projectData"
                                      [versionData]="versionData"></mak-invoice-descriptions>

            <mak-cost-list [measurements]="measurements"
                           [versionData]="versionData"></mak-cost-list>

          </div>

          <mak-invoice-footer></mak-invoice-footer>

      </div>

  </div>

</div>
